<!-- More Suggestions -->
<div class="container">
    <div class="container-fluid col-md-8">
        <h2>More Ink&nbsp;<span class="chinese-heading">墨單</span></h2>
    </div>
    <div class="container-fluid col-md-8 mt-3">
        <p class="text-box">
            Want more suggestions? Try&nbsp;<a href="/ink/moreink">this list</a>&nbsp;of writers and books for other
            ideas.
        </p>
    </div>
    <!-- More Suggestions -->
</div>
<!-- Liu Dan -->
<div class="container">
    <div class="container body-cols-medium-8">
        <p>
            For ink of another kind,
            <a href="http://www.asiaartcenter.org/asia/portfolio/%E5%8A%89%E4%B8%B9/" target="_blank">explore</a>
            the works of Beijing-based artist Liu Dan <nobr>劉丹</nobr>
            <nobr>(1953 - )</nobr>.
        </p>
    </div>
    <div class="container-fluid col-sm-6 mt-4">
        <img src="https://res.cloudinary.com/duiqzld67/image/upload/v1682090572/xuanzang/Liu_Dan_-_Poppy_shstjn.jpg"
            class="img-fluid" alt="Image of Liu Dan's 2007 ink painting, Poppy" loading="lazy" />
    </div>
    <div class="container-fluid col-md-8">
        <p class="caption">Poppy 《罌粟花》, 2007, <nobr>Liu Dan 劉丹</nobr>
        </p>
    </div>
    <!-- Liu Dan -->
</div>