<% layout("layouts/boilerplate") %>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    个
  </button>

  <div class="container body-main-column">
    <%- include("./print.html") %>
  </div>
  <h2 class="h2-link">
    <a href="/sources" class="h2-link main-anchor return-link"><span class="chinese-heading">回</span>&nbsp;SOURCES&nbsp;<span
        class="chinese-heading">源</span></a>
  </h2>

  <script src="/javascripts/toTopButton.js"></script>