<% layout("layouts/boilerplate") %>
  <article>
    <section>
      <%- include("./print/intro.html") %>
    </section>
    <hr class="wide-top-margin" />
    <section>
      <%- include("./print/characters.html") %>
    </section>
    <hr class="wider-top-margin" />
    <section>
      <%- include("./print/direction.html") %>
    </section>
  </article>
  <button type="button" id="btn-back-to-top">
    <!-- Back to top button -->
    个
  </button>
  <script src="/javascripts/toTopButton.js"></script>