<% layout("layouts/boilerplate") %>
  <article>
    <section>
      <%- include("./print.html") %>
    </section>
  </article>
  <button type="button" id="btn-back-to-top">
    <!-- Back to top button -->
    个
  </button>
  <script src="/javascripts/toTopButton.js"></script>