<footer class="mt-auto">
  <div class="d-flex flex-wrap justify-content-end align-items-center p-2">
    <!-- Copyright -->
    <div class="col-4">&copy; 2023</div>
    <!-- Socials -->
    <div class="col-4 text-end">
      <!-- LinkedIn -->
      <a
        class="btn text-white btn-floating me-1"
        href="https://linkedin.com/in/elliott-steer-92187331"
        role="button"
        target="_blank"
      >
        <span class="fa-brands fa-linkedin"></span>
      </a>
      <!-- GitHub -->
      <a
        class="btn text-white btn-floating me-1"
        href="https://github.com/essteer"
        role="button"
        target="_blank"
      >
        <span class="fa-brands fa-github"></span>
      </a>
    </div>
  </div>
</footer>
