<div class="mt-5"></div>
<!-- Footer -->
<footer class="text-center mt-auto">
  <!-- Grid container -->
  <div class="container">
    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-4">
      <!-- Grid column -->
      <div class="col-md-2">
        <a href="/" id="footer-anchor">XUANZANG</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2">
        <a href="/ink" id="footer-anchor">INK</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2">
        <a href="/voice" id="footer-anchor">VOICE</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2">
        <a href="/sources" id="footer-anchor">SOURCES</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2">
        <a href="/about" id="footer-anchor">ABOUT</a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3 mt-3">© 2023</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
