<% layout("layouts/boilerplate") %>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>
  <!-- Include the More Ink content -->
  <%- include("./moreink.html") %>

    <div class="return-link">Back to <a href="/works/ink">INK</a></div>
    <script src="/javascripts/toTopButton.js"></script>