<% layout("layouts/boilerplate") %>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>
  <!-- Include the More Ink content -->

  <div class="container body-main-column">
    <%- include("./moreink.html") %>

      <div class="return-link"><a href="/works/ink" class="main-anchor name"><span
            class="chinese-heading">回</span>&nbsp;<span id="name">INK</span>&nbsp;<span
            class="chinese-heading">墨</span></a></div>
  </div>
  
  <script src="/javascripts/toTopButton.js"></script>