<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- Introduction -->
  <h1>XUANZANG 玄奘</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Xuanzang 玄奘 is an introduction to writers and podcasts from across the
      Sinophone world.
    </p>
    <p>
      The site is intended as a resource for non-native Chinese-language
      speakers seeking native content - as opposed to teaching materials created
      for students.
    </p>
    <p>
      For more on the concept behind the site, see <a href="/about">ABOUT</a>.
    </p>
    <p>
      Content is grouped below as either written or audio, with a third section
      of links to places to get hold of materials.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
    <!-- Introduction -->
  </div>
  <!-- Section links -->
  <div class="container-fluid col-md-8 mt-3">
    <div class="row align-items-center py-2">
      <h3>墨&nbsp;<a href="/ink">INK</a></h3>
    </div>
    <div class="row align-items-center py-2">
      <h3>嗓&nbsp;<a href="/voice">VOICE</a></h3>
    </div>
    <div class="row align-items-center py-2">
      <h3>源&nbsp;<a href="/sources">SOURCES</a></h3>
    </div>
    <!-- Dividing line -->
    <hr class="hr my-4" />
    <!-- Section links -->
  </div>
  <!-- Intro (cont) -->
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      If something's listed on those pages, it could be for a number of reasons
      - but most likely it is due to its social or historical insight,
      entertainment value, cultural significance, or a combination of these
      factors.
    </p>
    <p>
      The choice of content is limited to what I've read or listened to, so it
      is inevitable that many excellent creators have been overlooked here.
    </p>
    <p>
      A list of writers I intend to get around to later is included at the end
      of
      <a href="/notes/moreink">INK</a>.
    </p>
    <!-- <p>
      Feedback and recommendations are welcome - reach me at [email address].
    </p> -->
    <!-- Section links -->
  </div>
  <!-- Intro (cont) -->
</div>
