<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- Introduction -->
  <h1>XUANZANG 玄奘</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Xuanzang 玄奘 is an introduction to writers and podcasts from across the
      Sinophone world.
    </p>
    <p>
      The site is intended as a resource for non-native Chinese-language
      speakers who seek native content - as opposed to teaching materials
      created for students.
    </p>
    <p>For more on the concept behind the site, see the ABOUT section.</p>
    <p>
      Content has been grouped below as either written or audio, with a section
      of links to places to get hold of materials at the end.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
    <!-- Introduction -->
  </div>
  <!-- Section links -->
  <div class="container-fluid col-md-8 mt-3">
    <div class="row align-items-center">
      <div class="col-6 fs-4 text-end">
        墨&nbsp;<a href="/xuanzang/ink">INK</a>
      </div>
      <div class="col-6 text-start">-&nbsp;writing</div>
    </div>
    <div class="row align-items-center">
      <div class="col-6 fs-4 text-end">
        嗓&nbsp;<a href="/xuanzang/voice">VOICE</a>
      </div>
      <div class="col-6 text-start">-&nbsp;podcasts</div>
    </div>
    <div class="row align-items-center">
      <div class="col-6 fs-4 text-end">
        源&nbsp;<a href="/xuanzang/sources">SOURCES</a>
      </div>
      <div class="col-6 text-start">-&nbsp;resources</div>
    </div>
    <!-- Dividing line -->
    <hr class="hr my-4" />
    <!-- Section links -->
  </div>
  <!-- Intro (cont) -->
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      The recommendations here are entirely subjective - these are materials I
      have read or listened to and found worthwhile for varous reasons.
    </p>
    <p>
      A list of writers I intend to get around to is included at the end of INK,
      but this is by no means comprehensive.
    </p>
    <p>
      There are no doubt many excellent creators missing - for the simple reason
      that I haven't encountered them yet.
    </p>
    <p>
      Feedback is welcome, or to share content you've found useful - reach me at
      [email address].
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
    <!-- Section links -->
  </div>
  <!-- Intro (cont) -->
</div>
