<% layout("layouts/boilerplate") %>
  <div class="container">
    <!-- Introduction -->
    <h1>XUANZANG&nbsp;<span class="chinese-heading">玄奘</span></h1>
    <div class="container-fluid col-md-8">
      <h6>
        Intros to Sinophone writers and podcasts
      </h6>
      <p>
        <span id="name">XUANZANG</span> <span class="chinese-heading">玄奘</span> is an ongoing project to highlight quality Chinese-language creators and content. Mandarin is the predominant medium here, but there's a limited Cantonese selection and plans to feature more works beyond these in time.
      </p>
      <p class="text-box">
        For more on the concept behind the site, see <a href="/about">ABOUT</a>.
      </p>
      <p>
        Written and audio content is grouped below along with a further section on places to seek out more materials.
      </p>
      <!-- Dividing line -->
      <hr />
    </div>
    <!-- Section links -->
    <div class="container-fluid col-md-8">
      <h2 class="h2-link">
        <a href="/works/ink" class="h2-link main-anchor"><span class="chinese-heading">墨</span>&nbsp;INK</a>
      </h2>
      <h2 class="h2-link">
        <a href="/works/voice" class="h2-link main-anchor"><span class="chinese-heading">嗓</span>&nbsp;VOICE</a>
      </h2>
      <h2 class="h2-link">
        <a href="/sources" class="h2-link main-anchor"><span class="chinese-heading">源</span>&nbsp;SOURCES</a>
      </h2>
      <!-- Dividing line -->
      <hr />
    </div>
    <!-- Section links -->
    <!-- Intro (cont) -->
    <div class="container-fluid col-md-8">
      <p>
        Modern literature is the main focus of <span id="name">INK</span> <span class="chinese-heading">墨</span> but economics, history, politics and sociology are also featured, as are several excellent online archives
        that cover an extensive range.
      </p>
      <p>
        The podcasts in <span id="name">VOICE</span> <span class="chinese-heading">嗓</span> include series that vary in scope from oral histories and political commentary, to philosophy and pop culture.
      </p>
      <p>
        Content is chosen from what I've personally read or listened to, and typically included based on cultural significance, entertainment value, social or historical insight, or a combination of these factors.
      </p>
      <p>
        It's inevitable that many excellent creators have been overlooked here — ping feedback and suggestions to <nobr>elliott@xuan-zang.com</nobr>.
      </p>
      <!-- Intro (cont) -->
    </div>
    <!-- Introduction -->
  </div>