<% layout("layouts/boilerplate") %>
  <div class="container body-main-column error-pages">
    <h1>429 TOO MANY REQUESTS</h1>
    <p>此地無銀三百兩</p>
    <p>We detected an unusually high traffic volume from you.</p>
    <p>
      Click <a href="/">here</a> to try to return to the main page,<br>or try again later.
    </p>
    <p>
      If the issue persists please reach out on <nobr><a href="mailto:elliott@sinophonia.com" class="external-url">
          elliott@sinophonia.com</a></nobr>.
    </p>
  </div>