<% layout("layouts/boilerplate") %>
  <div class="container body-main-column error-pages">
    <h1>503 SERVICE UNAVAILABLE</h1>
    <p>此地無銀三百兩</p>
    <p>Our server is currently down! Please try again later.</p>
    <p>
      Click <a href="/">here</a> to return to the main page,<br>or use the navbar
      links above.
    </p>
  </div>