<% layout("layouts/boilerplate") %>
  <div class="container body-main-column error-pages">
    <h1>500 INTERNAL SERVER ERROR</h1>
    <p>此地無銀三百兩</p>
    <p>Oops, something went wrong! Please try again later.</p>
    <p>
      Click <a href="/">here</a> to return to the main page,<br>or use the navbar
      links above.
    </p>
  </div>