:root {
    color-scheme: light only;
    --main-bg-colour: #171918;
    --main-txt-colour: #f7f1e7;
    --navbar-bg-colour: #a0aecd;
    --alt-bg-colour: #edede9;
    --alt-txt-colour: #171918;
}

body {
    font-family: 'Source Serif Pro', 'KaiTi', '楷体', 'Noto Serif TC', serif;
    background-color: var(--main-bg-colour);
    color: var(--main-txt-colour);
    text-align: center;
}

.container {
    width: 100%;
    max-width: 750px;
}

.navbar, footer {
    background-color: var(--navbar-bg-colour);
    color: var(--alt-txt-colour);
}

.navbar, footer, h1, h2, h3, #text-box, #caption {
    font-family: 'Oswald', sans-serif;
}

.chinese-heading {
    font-family: 'ZCOOL QingKe HuangYou';
}

p {
    text-align: start;
    margin-top: 1rem;
}

a {
    position: relative;
    color: var(--main-txt-colour);
}

h1, .h2-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;
    padding: 0.15rem 0;
}

.h3-sources {
    margin-top: 1rem;
    text-align: start;
}

#main-anchor {
    text-decoration: none;
}

.navbar a, footer a {
    text-decoration: none;
    display: inline-block;
    color: var(--alt-txt-colour);
}

.navbar a:before, footer a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.25px;
    bottom: 0;
    left: 0;
    background-color: var(--alt-txt-colour);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#main-anchor:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.25px;
    bottom: 0;
    left: 0;
    background-color: var(--main-txt-colour);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.navbar a:hover:before, footer a:hover:before, #main-anchor:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#btn-back-to-top {
    background-color: var(--navbar-bg-colour);
    color: var(--alt-txt-colour);
    position: fixed;
    bottom: 55px;
    right: 20px;
    border-radius: 50%;
    display: none;
    border: 0px;
  }

.container-columns {
    column-count: 2;

    @media screen and (min-width: 450px) {
        column-count: 3;
      }
}

.container-columns a {
        display: flex;
        flex-direction: row;
}

ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 24px 0;
    }

.list li {
    margin-top: 5px;
    padding-right: auto;
    margin-right: auto;
}

.list a {
    text-decoration: none;
    /* Limits anchor width to text length */
    display: inline-block;
    position: relative;
}

.list a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: var(--main-txt-colour);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.list a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#text-box, #caption {
    font-size: 0.75rem;
    text-align: center;
}

#text-box, #text-box-cn {
    background-color: var(--alt-bg-colour);
    color: var(--alt-txt-colour);
    padding: 0.5rem;
    border-radius: 5px;
}

#text-box a {
    background-color: var(--alt-bg-colour);
    color: var(--alt-txt-colour);
}

#caption, #text-box-cn {
    max-height: 450px;
    
    @media screen and (min-width: 500px) {
        width: 80%;
        max-width: min(80%, 400px);
        margin: 0 auto;
      }
}

#caption {
    margin-top: 0.5rem;
}

/* For Chinese text boxes */
#text-indent {
    text-indent: 32px;
    margin: 0;
}
div.vertical-panel {
    writing-mode: vertical-rl;
}

#podcast {
    max-width: 180px;
    max-height: 180px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
#podcast-thumbs {
    display: flex;
    justify-content: center;
}
#podcast-thumb {
    max-width: 140px;
    max-height: 140px;
}
#app-thumb {
    max-width: 85px;
    max-height: 85px;
}
#app-thumb-wide {
    max-width: 180px;
    max-height: 85px;
}
#podcast img, #podcast-thumb img, #app-thumb img, #app-thumb-wide img {
    border-radius: 7.5px;
}