<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- Introduction -->
  <h1>INK&nbsp;<span class="chinese-heading">墨</span></h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      This page contains suggestions for writers and works to read in Chinese
      languages - mostly Mandarin, but there may be exceptions.
    </p>
    <p>
      The writers introduced below include novelists across a range of genres,
      essayists, sociologists, historians, journalists, and others whose works I
      have encountered.
    </p>
    <p class="fst-italic" id="text-box">
      Click <a href="#pagelinks">here</a> to skip to the writers.
    </p>
    <p>
      Since first beginning to learn Chinese, I've sought out reading
      recommendations from friends and native speakers.
    </p>
    <p>
      Over time I've developed my own sense of how and where to seek out what
      I'm interested in - something I tend to take for granted in my native
      language.
    </p>
    <p>
      Tastes differ and there are of course many other writers worth spending
      time with; these are shared here to point towards those I've got something
      out of, and in some cases to promote lesser-known writers or books
      deserving of a broader audience.
    </p>
    <p class="fst-italic" id="text-box">
      For details on where to get hold of Chinese-language books, see
      <a href="/sources">SOURCES</a>
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Introduction -->
</div>
<!-- Pagelinks -->
<div class="container" id="pagelinks">
  <div class="container-fluid col-md-8 mt-3">
    <div class="container-columns text-start">
      <h3>C</h3>
      <ul class="list">
        <li><a href="#Eileen Chang">Eileen&nbsp;Chang</a></li>
        <li><a href="#Chen Hsueh">Chen&nbsp;Hsueh</a></li>
        <li><a href="#Chen Zhongshi">Chen&nbsp;Zhongshi</a></li>
        <li><a href="#Chiang Hsun">Chiang&nbsp;Hsun</a></li>
        <li><a href="#China Heritage">China&nbsp;Heritage</a></li>
      </ul>
      <h3>F</h3>
      <ul class="list">
        <li><a href="#Feng Tang">Feng&nbsp;Tang</a></li>
      </ul>
      <h3>H</h3>
      <ul class="list">
        <li><a href="#Hao Jingfang">Hao&nbsp;Jingfang</a></li>
        <li><a href="#Hsieh Tzu-fan">Hsieh Tzu-fan</a></li>
      </ul>
      <h3>L</h3>
      <ul class="list">
        <li><a href="#LEAP">LEAP</a></li>
        <li><a href="#Leung Man-tao">Leung&nbsp;Man-tao</a></li>
        <li><a href="#Liu Cixin">Liu&nbsp;Cixin</a></li>
        <li><a href="#Lu Xun">Lu&nbsp;Xun</a></li>
      </ul>
      <h3>Q</h3>
      <ul class="list">
        <li><a href="#Qi Jun">Qi&nbsp;Jun</a></li>
        <li><a href="#Qian Zhongshu">Qian&nbsp;Zhongshu</a></li>
      </ul>
      <h3>R</h3>
      <ul class="list">
        <li><a href="#Resonate">Resonate</a></li>
      </ul>
      <h3>S</h3>
      <ul class="list">
        <li><a href="#Sang Zhang">Sang&nbsp;Ye</a></li>
        <li><a href="#Sanmao">Sanmao</a></li>
      </ul>
      <h3>W</h3>
      <ul class="list">
        <li><a href="#Wang Mun Kiat">Wang&nbsp;Mun&nbsp;Kiat</a></li>
        <li><a href="#Wang Shuo">Wang&nbsp;Shuo</a></li>
        <li><a href="#Wang Xiaobo">Wang&nbsp;Xiaobo</a></li>
        <li><a href="#Wu Ming-Yi">Wu Ming-Yi</a></li>
      </ul>
      <h3>X</h3>
      <ul class="list">
        <li><a href="#Xue Yiwei">Xue&nbsp;Yiwei</a></li>
      </ul>
      <h3>Y</h3>
      <ul class="list">
        <li><a href="#Yang Weidong">Yang&nbsp;Weidong</a></li>
        <li><a href="#Yibao">Yibao</a></li>
        <li><a href="#Yu Hua">Yu&nbsp;Hua</a></li>
      </ul>
      <h3>Z</h3>
      <ul class="list">
        <li><a href="#Sang Zhang">Zhang&nbsp;Xinxin</a></li>
        <li><a href="#Zhang Yinlin">Zhang&nbsp;Yinlin</a></li>
      </ul>
    </div>
    <div class="text-start mt-4">
      <p class="fst-italic" id="text-box">
        For more suggestions, try <a href="/ink/moreink">this list</a> of
        writers and books.
      </p>
    </div>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Pagelinks -->
</div>
<!-- Back to top button -->
<button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
  <i class="fas fa-arrow-up-long"></i>
</button>
<!-- Eileen Chang -->
<div class="container" id="Eileen Chang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Eileen Chang&nbsp;<span class="chinese-heading">張愛玲</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Eileen Chang 張愛玲 (1920 - 1995), also known as Zhang Ailing, was a
      novelist, screenwriter, and essayist, and a major figure in 20th century
      Chinese literature.
    </p>
    <p>
      Zhang's works remain widely read in the Chinese-language world today, many
      of them focused on the period from the 1930s to 1940s. She is perhaps best
      known overseas as the author of Lust, Caution 《色，戒》, which Ang Lee
      李安 adapted for the screen in 2007. Her novel Naked Earth 《赤地戀愛》,
      one of few translated into English, depicts a young couple separated by
      Party bureaucracy and the Korean War.
    </p>
    <p>
      In addition to her fiction, she was an active translator, and her research
      on Cao Xueqin's 曹雪芹 Dream of the Red Chamber 《紅樓夢》 is credited
      with having revived scholarly interest in the classic novel.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Eileen Chang -->
</div>
<!-- Chen Hsueh -->
<div class="container" id="Chen Hsueh">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Chen Hsueh&nbsp;<span class="chinese-heading">陳雪</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>Chen Hsueh 陳雪 (1970 - ) is a novelist and short story writer.</p>
    <p>
      Her 1995 collection Vile Girls Book 《惡女書》 explores its protagonists'
      struggles to accept their non-conventional sexuality, amid strained family
      ties and social stigma.
    </p>
    <p>
      The strongest of the stories are Looking for Lost Angel Wings
      <nobr>《尋找天使遺失的翅膀》</nobr> and After the Cat Died
      <nobr>《貓死了之後》,</nobr> which speak directly through first-person
      narratives, whereas the magical realist style of the other two seems to
      dilute the impact.
    </p>
    <p>
      In one passage of Night Maze 《夜的迷宮》 Chen composes across the page in
      rows and columns simultaneously, an technique I haven't seen employed
      elsewhere that gives a stream-of-consciousness-like effect. It would be
      interesting to see this developed to greater effect.
    </p>
    <p>
      Since gaining infamy for the controversy of Vile Girls Book, her debut
      work - published in a less tolerant Taiwan, over two decades before it
      legalised same-sex marriage - Chen has spoken of her desire not to be
      typified as a genre writer. Chen is a prolific writer with several
      acclaimed full-length novels, some of which are on
      <a href="/ink/moreink">this list</a>.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Chen Hsueh -->
</div>
<!-- Chen Zhongshi -->
<div class="container" id="Chen Zhongshi">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Chen Zhongshi&nbsp;<span class="chinese-heading">陳忠實</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Chen Zhongshi 陳忠實 (1942 - 2016) was an author and the 1997 recipient of
      the Mao Dun Literature Prize 茅盾文學獎.
    </p>
    <p>
      The novel that earned him recognition, White Deer Plain 《白鹿原》,
      follows two rival families in rural Shaanxi province through the major
      upheavals of the first half of the 20th century. From the decline of the
      Qing Dynasty, through the establishment of the Republic of China, Japanese
      occupation and civil war, and the ultimate victory of the Communist Party,
      Chen depicts the conflicting interests and obligations that lead
      individuals to fateful decisions.
    </p>
    <p>
      The narrative complexity brings out the overwhelming uncertainty people
      endured during the period, and avoids any sense of a simple moral path to
      safety.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Chen Zhongshi -->
</div>
<!-- Chiang Hsun -->
<div class="container" id="Chiang Hsun">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Chiang Hsun&nbsp;<span class="chinese-heading">蔣勛</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Chiang Hsun 蔣勳 (1947 - ) is a writer, artist, and former professor of
      fine arts at Taiwan's Tunghai University 東海大學. He has written
      extensively on global culture, art history, and Chinese history, and is a
      popular speaker due to his accessible style.
    </p>
    <p>
      His extensive output includes interpretations of literary classics, such
      as his mesmerising in-depth series on Dream of the Red Chamber 紅樓夢 -
      akin to the late
      <a href="https://blog.frankdelaney.com/re-joyce/" target="_blank"
        >Frank Delaney's contribution</a
      >
      to James Joyce's Ulysses - essays on Buddhism, and musings on artistic
      expression across differing cultural and societal values.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Chiang Hsun -->
</div>
<!-- China Heritage -->
<div class="container" id="China Heritage">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>China Heritage</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      The
      <a href="https://chinaheritage.net/" target="_blank">China Heritage</a>
      project, which also houses The Wairarapa Academy for New Sinology
      清漪書院, is a product of collaboration between sinologist Geremie Barmé
      and fellow scholars of China's culture and politics.
    </p>
    <p>
      Though not "native" content, the site is included here due to being an
      excellent gateway to encounter independent thinkers in the People's
      Republic of China and its community-in-exile, and a resource for those
      interested in in-depth analysis of contemporary China's politics and
      society.
    </p>
    <p>
      Its publications provide insight into the context of current developments,
      and their coverage of the writings of prominent intellectuals - such as
      the ongoing Xu Zhangrun <nobr>許章潤</nobr> series - shares invaluable
      expertise on the subtleties of language and historical references used to
      express political opposition, among other insights.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- China Heritage -->
</div>
<!-- Feng Tang -->
<div class="container" id="Feng Tang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Feng Tang&nbsp;<span class="chinese-heading">馮唐</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Feng Tang 馮唐 is the pseudonym of Zhang Haipeng 張海鵬 (1971 - ), a
      writer, poet, and private equity investor from Beijing.
    </p>
    <p>
      Oneness 《不二》 depicts Tang dynasty monks and nuns as sexual deviants
      with cynical attitudes towards their faith and peers. Feng's explicit
      deadpan humour is reminiscent of Wang Xiaobo 王小波, and he combines this
      with historical detail and satirical plays on monastic politics to great
      effect.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Feng Tang -->
</div>
<!-- Hao Jingfang -->
<div class="container" id="Hao Jingfang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Hao Jingfang&nbsp;<span class="chinese-heading">郝景芳</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Hao Jingfang 郝景芳 (1984 - ) is a science fiction writer and 2016
      recipient of the Hugo Award for Best Novelette.
    </p>
    <p>
      Her novella
      <a
        href="https://web.archive.org/web/20160822161228/http://jessica-hjf.blog.163.com/blog/static/278128102015240444791/"
        target="_blank"
        >Folding Beijing</a
      >
      《北京摺曡》 is a futuristic riff on the experiences of the city's
      <em>beipiao</em> 北漂 or migrant workers, whose labour is essential to its
      function, and yet must eke out precarious lives in a legal grey zone
      without basic rights.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Hao Jingfang -->
</div>
<!-- Hsieh Tzu-fan -->
<div class="container" id="Hsieh Tzu-fan">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Hsieh Tzu-fan&nbsp;<span class="chinese-heading">謝子凡</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>Hsieh Tzu-fan 謝子凡 is an author, translator, and former advertiser.</p>
    <p>
      Me and the Garbage Truck I Chased 《我和我追逐的垃圾車》 is a collection
      of semi-autobiographical short stories. Divided across four themes (Hot -
      Cold - Dark - Light), Xie's restrained but reflective writing style gives
      depth to her everyday subject matter.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Hsieh Tzu-fan -->
</div>
<!-- LEAP -->
<div class="container" id="LEAP">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>LEAP&nbsp;<span class="chinese-heading">藝術界</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      LEAP 藝術界 is a biannual, bilingual contemporary art and cultural
      commentary magazine.
    </p>
    <p>
      The print edition places the Chinese and English articles versions right
      beside each other, which can be especially useful as a learning tool for
      gleaning context from complex prose.
    </p>
    <p>
      The
      <a href="http://leapleapleap.com/" target="_blank">LEAP website</a>
      also provides free access to many of their articles.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- LEAP -->
</div>
<!-- Leung Man-tao -->
<div class="container" id="Leung Man-tao">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Leung Man-tao&nbsp;<span class="chinese-heading">梁文道</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Leung Man-tao 梁文道 (1970 - ) is a writer, cultural critic, and public
      personality. He was a long-running guest on Dou Wentao's 竇文濤 news
      talk-show Qiangqiang Sanrenxing 鏘鏘三人行 until its cancellation in 2017.
    </p>
    <p>
      His books I Read 《我讀》 and I Write 《我執》 consist of series of short
      entries of reflections on reading and writing, respectively, with
      expansions on his personal philosophy as a practicing Buddhist.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Leung Man-tao -->
</div>
<!-- Liu Cixin -->
<div class="container" id="Liu Cixin">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Liu Cixin&nbsp;<span class="chinese-heading">劉慈欣</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Liu Cixin 劉慈欣 (1963 - ) is a science fiction writer, former engineer,
      and recipient of the 2015 Hugo Award for Three Body Problem 《三體》, the
      first book of his trilogy by the same name.
    </p>
    <p>
      His engineering background shows in the descriptions of a near-future
      Earth trying desperately to develop technological solutions to an
      existential threat, and his exploration of game theory applied to space
      exploration in the second instalment, Dark Forest 《黑暗森林》, is
      engaging.
    </p>
    <p>
      The narrative is let down by two-dimensional characters, which rely on
      lazy stereotypes and make some sections tedious, but Liu's strategic plot
      developments and talent for the science he knows is worthwhile for those
      interested in the genre.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Liu Cixin -->
</div>
<!-- Lu Xun -->
<div class="container" id="Lu Xun">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Lu Xun&nbsp;<span class="chinese-heading">魯迅</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Lu Xun 魯迅 was the pseudonym of Zhou Shuren 周樹人 (1881 - 1936), a
      writer, essayist, and translator, who played a prominent role in the birth
      of modern Chinese literature.
    </p>
    <p>
      His short story collection Call to Arms 《呐喊》 is regarded as one of the
      first works written entirely in vernacular Chinese. It is worth reading
      for its historical significance alone, emerging in the aftermath of the
      1919 May Fourth Movement 五四運動 that saw widespread demonstrations
      against imperialism and calls for social modernisation.
    </p>
    <p>
      The collection includes the novella The True Story of Ah Q 《阿Q正傳》, a
      satire of backward character traits perceived as emblematic of how the
      country had fallen victim to the encroachment of foreign powers during the
      late Qing dynasty and early Republic of China period.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Lu Xun -->
</div>
<!-- Qi Jun -->
<div class="container" id="Qi Jun">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Qi Jun&nbsp;<span class="chinese-heading">琦君</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Qi Jun 琦君 (1917 - 2006) was a writer, essayist, critic and translator.
    </p>
    <p>
      Her novel Ripe Tangerine 《橘子紅了》 is a critique of female exploitation
      under traditional family structures. Xiufen 秀芬 becomes the third wife in
      a rural household, arranged as Dama's 大媽 futile attempt to coax her
      husband back from the city he has abandoned her for to be with his second
      wife.
    </p>
    <p>
      Zhang Yimou 張藝謀 explored similar themes in his film Raise the Red
      Lantern 《大紅燈籠高高挂》, released the same year in 1991.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Qi Jun -->
</div>
<!-- Qian Zhongshu -->
<div class="container" id="Qian Zhongshu">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Qian Zhongshu&nbsp;<span class="chinese-heading">錢鍾書</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Qian Zhongshu 錢鍾書 (1910 - 1998) was a scholar and writer, and one of
      the most lauded Chinese literary figures of the 20th century.
    </p>
    <p>
      Fortress Beseiged 《圍城》 is a satirical novel written during his time in
      Shanghai under Japanese occupation. Centred on Fang Hongjian 方鴻漸, who
      has returned home after squandering funds and his studies in Europe, the
      book takes on middle-class affectations and relationships during the
      Republic of China era.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Qian Zhongshu -->
</div>
<!-- Resonate -->
<div class="container" id="Resonate">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Resonate&nbsp;<span class="chinese-heading">回響</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Launched in 2020, Resonate 迴響 is a Cantonese periodical from Hong Kong
      featuring short stories, non-fiction articles, cultural commentary, and
      related content.
    </p>
    <p>
      Each issue focuses on a theme or topic, with past issues touching on
      subjects such as advertising, anime, fate, horror, money, and nostalgia.
    </p>
    <p>
      Resonate aims to expand the use of Cantonese in written form, and
      highlight themes and issues specific to Hong Kong. The magazine features
      regular contributors, and also accepts submissions via its
      <a href="https://resonate.hk/" target="_blank">website</a>.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Resonate -->
</div>
<!-- Sang Zhang -->
<div class="container" id="Sang Zhang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>
        <nobr>Sang Ye&nbsp;<span class="chinese-heading">嗓晔</span></nobr> &
        <nobr
          >Zhang Xinxin&nbsp;<span class="chinese-heading">張辛欣</span></nobr
        >
      </h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Sang Ye 嗓曄 <nobr>(1955 - )</nobr> is a journalist, writer, and oral
      historian. Zhang Xinxin 張辛欣 <nobr>(1953 - )</nobr> is a writer,
      novelist, and playwright.
    </p>
    <p>
      In 1986, the pair published Chinese Lives 《北京人：一百個普通人的自述》,
      a book of interviews with people from a wide range of social, family, and
      occupational backgrounds, in a country very different to today.
    </p>
    <p>
      Song and Zhang edited themselves out of the interviews, to leave their
      subjects' accounts as uninterrupted monologues.
    </p>
    <p>
      I read the English translation ahead of my first visit to China, and found
      the authors' deeply humane treatment of their subjects' diverse and
      sometimes tragic experiences striking. I was fortunate to later track down
      a second-hand Chinese edition (see <a href="/sources">SOURCES</a> for
      places to search), but the translation is worth reading if that's
      unavailable.
    </p>
    <p>
      Sang Ye published a further oral history titled 《1949 1989 1999》, later
      translated to English as China Candid: The People on the People's Republic
      by <a href="#China Heritage">China&nbsp;Heritage</a> founder Gereme Barmé,
      and Miriam Lang.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Sang Zhang -->
</div>
<!-- Sanmao -->
<div class="container" id="San Mao">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Sanmao&nbsp;<span class="chinese-heading">三毛</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Sanmao 三毛 was the pseudonym of Echo Chen Ping 陳平 (1943 - 1991), a
      writer and translator. Her then-unconventional lifestyle, which saw her
      leave Taiwan alone for Europe and Morocco, embodied a free and independent
      way of life that inspired many across the Chinese-speaking world.
    </p>
    <p>
      Stories of the Sahara 《撒哈拉的故事》 is typical of her autobiographical
      writing style, based on her experiences living in Morocco with her Spanish
      husband, who passed away in an accident just a few years after
      publication. Her struggles to cope with this loss informed much of her
      subsequent work, and likely contributed to her suicide a decade later.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Sanmao -->
</div>
<!-- Wang Mun Kiat -->
<div class="container" id="Wang Mun Kiat">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wang Mun Kiat&nbsp;<span class="chinese-heading">黄文杰</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>Wang Mun Kiat 黃文傑 (1967 - ) is a Singaporean poet and engineer.</p>
    <p>
      The poems of his second collection Short Tongue 《短舌》 are haiku-like in
      their brevity, but Wang manages to imbue their clipped lines with barbed
      social commentary.
    </p>
    <p>
      I've spent little time with Chinese poetry in the past, often finding the
      form's abstract nature to be beyond my language ability.
    </p>
    <p>
      Some entries of Short Tongue are cryptic, but in general it's accessible
      and I'd recomend it to others interested in trying poetry in Chinese.
    </p>
    <p>
      The publisher
      <a
        href="https://www.seabreezebooks.com.sg/products/short-tongue-bilingual-edition"
        target="_blank"
        >Sea Breeze Books</a
      >
      海風書屋 also offers a bilingual edition, with English translations by the
      poet Daryl Lim Wei Jie 林偉傑.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wang Mun Kiat -->
</div>
<!-- Wang Shuo -->
<div class="container" id="Wang Shuo">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wang Shuo&nbsp;<span class="chinese-heading">王朔</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Wang Shuo 王朔 (1958 - ) is a novelist and screenwriter. Known for his
      <em>liu mang</em> 流氓 or 'hooligan' style of writing, his works have been
      popular source material for film and television since the late 1980s.
    </p>
    <p>
      The dark humour of Please Don't Call Me Human 《千萬別把我當人》 gets
      close to the bone with its ridicule of totalitarian bureaucracy. Published
      in the 1980s, a similar work could not evade censorship today.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wang Shuo -->
</div>
<!-- Wang Xiaobo -->
<div class="container" id="Wang Xiaobo">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wang Xiaobo&nbsp;<span class="chinese-heading">王小波</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Wang Xiaobo 王小波 (1952 - 1997) was a novelist and essayist. Born in
      Beijing, he was amongst the many 'sent-down' or 'educated' youths 知識青年
      extracted from urban life to labour in rural areas during the Cultural
      Revolution 文革.
    </p>
    <p>
      That experience influenced some of his best-known works, including the
      satirical Golden Age 《黃金時代》. Essay collections such as Silent
      Majority 《沉默的大多數》 exhibit his vernacular wit and talent for
      querying social norms.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wang Xiaobo -->
</div>
<!-- Wu Ming-Yi -->
<div class="container" id="Wu Ming-Yi">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wu Ming-Yi&nbsp;<span class="chinese-heading">吴明益</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Wu Ming-Yi 吳明益 (1971 - ) is a writer, artist and academic, and a
      professor of Chinese literature at National Dong Hwa University
      國立東華大學. His writing has explored environmentalism and themes unique
      to Taiwan, such as the influence of the island's Japanese occupation.
    </p>
    <p>
      The Stolen Bicycle 《單車失竊記》 revolves around a man seeking his
      long-absent father, with meditations on Taiwan's role in World War II. His
      meticulous effort to piece together whatever fragments he can - down to
      cataloguing bicycles used in the theatre his father served in - vividly
      contrasts the inability to know the person at the centre of his search.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wu Ming-Yi -->
</div>
<!-- Xue Yiwei -->
<div class="container" id="Xue Yiwei">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Xue Yiwei&nbsp;<span class="chinese-heading">薛憶沩</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Xue Yiwei 薛憶溈 (1964 - ) is an author, academic, and doctor of
      linguistics.
    </p>
    <p>
      His first novel, Desertion 《遺棄》, uses a first-person narrative to
      explore the protagonist's philosophical reflections, as he struggles
      against bureaucratic opposition to quit his vacuous government job.
    </p>
    <p>
      With Shenzheners 《深圳人》, Xue took inspiration from James Joyce's
      Dubliners to produce these short stories on fictional residents of the
      Chinese city.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Xue Yiwei -->
</div>
<!-- Yang Weidong -->
<div class="container" id="Yang Weidong">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Yang Weidong&nbsp;<span class="chinese-heading">楊偉東</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Yang Weidong 楊偉東 (1966 - ) is an artist and independent filmmaker.
      After suffering a politically-motivated family tragedy, he sought to
      understand how society could arrive at a state in which such acts occur
      without recourse.
    </p>
    <p>
      The result is Put This On Record 《立此存照》, a multi-volume series of
      over 500 interviews with prominent figures including officials,
      economists, historians, philosophers and activists across a spectrum of
      socio-political attitudes. Yang provides his subjects space to elucidate
      their thoughts, and humbly resists bringing his personal motivation into
      direct view.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Yang Weidong -->
</div>
<!-- Yibao -->
<div class="container" id="Yibao">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Yibao&nbsp;<span class="chinese-heading">議報</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Yibao 議報 is an
      <a href="https://yibaochina.com/" target="_blank"
        >online&nbsp;publication</a
      >
      featuring social commentary and political editorials.
    </p>
    <p>
      Operating in association with the non-profit NGO
      <a href="https://www.citizenpowerforchina.org/" target="_blank"
        >Citizen Power Initiatives for China</a
      >
      公民力量, Yibao's main focus is on the PRC, with critical features on
      subjects such as governance, economics, human rights, history, and the
      arts.
    </p>
    <p>
      Coverage also extends to world affairs, in particular concerning major
      geopolitical events and players, translations of articles from Western
      publications, and news from the Sinophone world.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Yibao -->
</div>
<!-- Yu Hua -->
<div class="container" id="Yu Hua">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Yu Hua&nbsp;<span class="chinese-heading">余華</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Yu Hua 余華 (1960 - ) is an author, and committee member of the Chinese
      Writers Association.
    </p>
    <p>
      To Live 《活著》 follows the hubristic descent into poverty of the
      arrogant son of a land-owning family. As the events of civil war, famine,
      and the Cultural Revolution unfold, the protagonist emerges with a kinder
      outlook even under increasing isolation.
    </p>
    <p>
      As a study of an individual, To Live makes a good compliment to Chen
      Zhongshi's 陳忠實 broader take on similar themes from that era in White
      Deer Plain 《白鹿原》.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Yu Hua -->
</div>
<!-- Zhang Yinlin -->
<div class="container" id="Zhang Yinlin">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Zhang Yinlin&nbsp;<span class="chinese-heading">張蔭麟</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Zhang Yinlin 張蔭麟 (1905 - 1942) was a writer and professor of history.
    </p>
    <p>
      His Outline of Chinese History 《中國史綱》 is an excellent introduction
      to ancient China, from the Xia dynasty through the Warring States period,
      unification under Qin Shihuang, and on to the establishment of the Eastern
      Han dynasty in the 1st century AD.
    </p>
    <p>
      The book is full of anecdotes on figures and events, and traces the
      emergence of China's philosophical schools, social customs, and political
      systems.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Zhang Yinlin -->
</div>
<!-- More Suggestions -->
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>More Ink&nbsp;<span class="chinese-heading">墨單</span></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p class="fst-italic" id="text-box">
      Want more suggestions? Try
      <a href="/ink/moreink">this list</a> of writers and books for other ideas.
    </p>
  </div>
  <!-- More Suggestions -->
</div>
<!-- Liu Dan -->
<div class="container">
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      For ink of another kind,
      <a
        href="http://www.asiaartcenter.org/asia/portfolio/%E5%8A%89%E4%B8%B9/"
        target="_blank"
        >explore</a
      >
      the works of Beijing-based artist Liu Dan <nobr>劉丹</nobr>
      <nobr>(1953 - )</nobr>.
    </p>
  </div>
  <div class="container-fluid col-sm-6 text-start mt-4">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682090572/xuanzang/Liu_Dan_-_Poppy_shstjn.jpg"
      class="img-fluid"
      alt="Liu Dan - Poppy, 2007"
    />
  </div>
  <div class="container-fluid col-md-8 text-center mt-2">
    <p id="caption">
      <em>Poppy 《罌粟花》</em>, 2007, <nobr>Liu Dan 劉丹</nobr>
    </p>
  </div>
  <!-- Liu Dan -->
</div>
<script src="/javascripts/toTopButton.js"></script>
