<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- Introduction -->
  <h1>INK 墨</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      This page contains suggestions for writers and works to read in Chinese
      languages - mostly in Mandarin, but there may be exceptions.
    </p>
    <p>
      The writers introduced below include novelists across a range of genres,
      essayists, sociologists, historians, journalists, and others whose works I
      have encountered.
    </p>
    <p class="text-center"><a href="#pagelinks">SKIP TO WRITERS</a></p>
    <p>
      Since first beginning to learn Chinese, I've sought out reading
      recommendations from friends and native speakers.
    </p>
    <p>
      Over time I've developed my own sense of how and where to seek out what
      I'm interested in - something I tend to take for granted in my native
      language.
    </p>
    <p>
      Tastes differ and there are of course many other writers worth spending
      time with; these are shared here to point towards those I've got something
      out of, and in some cases to promote lesser-known writers or books
      deserving of a broader audience.
    </p>
    <p>
      For more suggestions, try the <a href="#Others">list at the end</a> -
      these are authors I intend to read later, but can't yet comment on.
    </p>
    <p>
      For details on where to get hold of Chinese-language books, see
      <a href="/sources">SOURCES</a>.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Introduction -->
</div>
<!-- Pagelinks -->
<div class="container" id="pagelinks">
  <div class="container-fluid col-md-8 mt-3">
    <a href="#Eileen Chang">Eileen&nbsp;Chang</a>&emsp;
    <a href="#Chen Zhongshi">Chen&nbsp;Zhongshi</a>&emsp;
    <a href="#Chiang Hsun">Chiang&nbsp;Hsun</a>&emsp;
    <a href="#China Heritage">China&nbsp;Heritage</a>&emsp;
    <a href="#Feng Tang">Feng&nbsp;Tang</a>&emsp;
    <a href="#Hao Jingfang">Hao&nbsp;Jingfang</a>&emsp;
    <a href="#Leung Man-tao"><nobr>Leung&nbsp;Man-tao</nobr></a
    >&emsp; <a href="#Liu Cixin">Liu&nbsp;Cixin</a>&emsp;
    <a href="#Lu Xun">Lu&nbsp;Xun</a>&emsp;
    <a href="#Qi Jun">Qi&nbsp;Jun</a>&emsp;
    <a href="#Qian Zhongshu">Qian&nbsp;Zhongshu</a>&emsp;
    <a href="#Sang Zhang">Sang&nbsp;Ye</a>&emsp;
    <a href="#Sanmao">Sanmao</a>&emsp;
    <a href="#Wang Shuo">Wang&nbsp;Shuo</a>&emsp;
    <a href="#Wang Xiaobo">Wang&nbsp;Xiaobo</a>&emsp;
    <a href="#Wu Ming-Yi"><nobr>Wu&nbsp;Ming-Yi</nobr></a
    >&emsp; <a href="#Xie Zifan">Xie&nbsp;Zifan</a>&emsp;
    <a href="#Xue Yiwei">Xue&nbsp;Yiwei</a>&emsp;
    <a href="#Yang Weidong">Yang&nbsp;Weidong</a>&emsp;
    <a href="#Yu Hua">Yu&nbsp;Hua</a>&emsp;
    <a href="#Zhang Yinlin">Zhang&nbsp;Yinlin</a>&emsp;
    <a href="#Sang Zhang">Zhang&nbsp;Xinxin</a>&emsp;
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Pagelinks -->
</div>
<!-- Back to top button -->
<button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
  <i class="fas fa-arrow-up-long"></i>
</button>
<!-- Eileen Chang -->
<div class="container" id="Eileen Chang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Eileen Chang 張愛玲</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Eileen Chang 張愛玲 (1920 - 1995), also known as Zhang Ailing, was a
      novelist, screenwriter, and essayist, and a major figure in 20th century
      Chinese literature.
    </p>
    <p>
      Zhang's works remain widely read in the Chinese-language world today, many
      of them focused on the period from the 1930s to 1940s. She is perhaps best
      known overseas as the author of Lust, Caution 《色，戒》, which Ang Lee
      李安 adapted for the screen in 2007. Her novel Naked Earth 《赤地戀愛》,
      one of few translated into English, depicts a young couple separated by
      Party bureaucracy and the Korean War.
    </p>
    <p>
      In addition to her fiction, she was an active translator, and her research
      on Cao Xueqin's 曹雪芹 Dream of the Red Chamber 《紅樓夢》 is credited
      with having revived scholarly interest in the classic novel.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Eileen Chang -->
</div>
<!-- Chen Zhongshi -->
<div class="container" id="Chen Zhongshi">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Chen Zhongshi 陳忠實</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Chen Zhongshi 陳忠實 (1942 - 2016) was an author and the 1997 recipient of
      the Mao Dun Literature Prize 茅盾文學獎.
    </p>
    <p>
      The novel that earned him recognition, White Deer Plain 《白鹿原》,
      follows two rival families in rural Shaanxi province through the major
      upheavals of the first half of the 20th century. From the decline of the
      Qing Dynasty, through the establishment of the Republic of China, Japanese
      occupation and civil war, and the ultimate victory of the Communist Party,
      Chen depicts the conflicting interests and obligations that lead
      individuals to fateful decisions.
    </p>
    <p>
      The narrative complexity brings out the overwhelming uncertainty people
      endured during the period, and avoids any sense of a simple moral path to
      safety.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Chen Zhongshi -->
</div>
<!-- Chiang Hsun -->
<div class="container" id="Chiang Hsun">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Chiang Hsun 蔣勳</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Chiang Hsun 蔣勳 (1947 - ) is a writer, artist, and former professor of
      fine arts at Taiwan's Tunghai University 東海大學. He has written
      extensively on global culture, art history, and Chinese history, and is a
      popular speaker due to his accessible style.
    </p>
    <p>
      His extensive output includes interpretations of literary classics, such
      as his mesmerising in-depth series on Dream of the Red Chamber 紅樓夢 -
      akin to the late
      <a href="https://blog.frankdelaney.com/re-joyce/" target="_blank"
        >Frank Delaney's contribution</a
      >
      to James Joyce's Ulysses - essays on Buddhism, and musings on artistic
      expression across differing cultural and societal values.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Chiang Hsun -->
</div>
<!-- China Heritage -->
<div class="container" id="China Heritage">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>China Heritage</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      The
      <a href="https://chinaheritage.net/" target="_blank">China Heritage</a>
      project, which also houses The Wairarapa Academy for New Sinology
      清漪書院, is a product of collaboration between sinologist Geremie Barmé
      and fellow scholars of China's culture and politics.
    </p>
    <p>
      Though not "native" content, the site is included here due to being an
      excellent gateway to encounter independent thinkers in the People's
      Republic of China and its community-in-exile, and a resource for those
      interested in in-depth analysis of contemporary China's politics and
      society.
    </p>
    <p>
      Its publications provide insight into the context of current developments,
      and their coverage of the writings of prominent intellectuals - such as
      the ongoing Xu Zhangrun 許章潤 series - shares invaluable expertise on the
      subtleties of language and historical references used to express political
      opposition, among other insights.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- China Heritage -->
</div>
<!-- Feng Tang -->
<div class="container" id="Feng Tang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Feng Tang 馮唐</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Feng Tang 馮唐 is the pseudonym of Zhang Haipeng 張海鵬 (1971 - ), a
      writer, poet, and private equity investor from Beijing.
    </p>
    <p>
      Oneness 《不二》 depicts Tang dynasty monks and nuns as sexual deviants
      with cynical attitudes towards their faith and peers. Feng's explicit
      deadpan humour is reminiscent of Wang Xiaobo 王小波, and he combines this
      with historical detail and satirical plays on monastic politics to great
      effect.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Feng Tang -->
</div>
<!-- Hao Jingfang -->
<div class="container" id="Hao Jingfang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Hao Jingfang 郝景芳</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Hao Jingfang 郝景芳 (1984 - ) is a science fiction writer and 2016
      recipient of the Hugo Award for Best Novelette.
    </p>
    <p>
      Her novella
      <a
        href="https://web.archive.org/web/20160822161228/http://jessica-hjf.blog.163.com/blog/static/278128102015240444791/"
        target="_blank"
        >Folding Beijing</a
      >
      《北京摺曡》 is a futuristic riff on the experiences of the city's
      <em>beipiao</em> 北漂 or migrant workers, whose labour is essential to its
      function, and yet must eke out precarious lives in a legal grey zone
      without basic rights.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Hao Jingfang -->
</div>
<!-- Leung Man-tao -->
<div class="container" id="Leung Man-tao">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Leung Man-tao 梁文道</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Leung Man-tao 梁文道 (1970 - ) is a writer, cultural critic, and public
      personality. He was a long-running guest on Dou Wentao's 竇文濤 news
      talk-show Qiangqiang Sanrenxing 鏘鏘三人行 until its cancellation in 2017.
    </p>
    <p>
      His books I Read 《我讀》 and I Write 《我執》 consist of series of short
      entries of reflections on reading and writing, respectively, with
      expansions on his personal philosophy as a practicing Buddhist.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Leung Man-tao -->
</div>
<!-- Liu Cixin -->
<div class="container" id="Liu Cixin">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Liu Cixin 劉慈欣</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Liu Cixin 劉慈欣 (1963 - ) is a science fiction writer, former engineer,
      and recipient of the 2015 Hugo Award for Three Body Problem 《三體》, the
      first book of his trilogy by the same name.
    </p>
    <p>
      His engineering background shows in the descriptions of a near-future
      Earth trying desperately to develop technological solutions to an
      existential threat, and his exploration of game theory applied to space
      exploration in the second instalment, Dark Forest 《黑暗森林》, is
      engaging.
    </p>
    <p>
      The narrative is let down by two-dimensional characters, which rely on
      lazy stereotypes and make some sections tedious, but Liu's strategic plot
      developments and talent for the science he knows is worthwhile for those
      interested in the genre.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Liu Cixin -->
</div>
<!-- Lu Xun -->
<div class="container" id="Lu Xun">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Lu Xun 魯迅</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Lu Xun 魯迅 was the pseudonym of Zhou Shuren 周樹人 (1881 - 1936), a
      writer, essayist, and translator, who played a prominent role in the birth
      of modern Chinese literature.
    </p>
    <p>
      His short story collection Call to Arms 《呐喊》 is regarded as one of the
      first works written entirely in vernacular Chinese. It is worth reading
      for its historical significance alone, emerging in the aftermath of the
      1919 May Fourth Movement 五四運動 that saw widespread demonstrations
      against imperialism and calls for social modernisation.
    </p>
    <p>
      The collection includes the novella The True Story of Ah Q 《阿Q正傳》, a
      satire of backward character traits perceived as emblematic of how the
      country had fallen victim to the encroachment of foreign powers during the
      late Qing dynasty and early Republic of China period.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Lu Xun -->
</div>
<!-- Qi Jun -->
<div class="container" id="Qi Jun">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Qi Jun 琦君</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Qi Jun 琦君 (1917 - 2006) was a writer, essayist, critic and translator.
    </p>
    <p>
      Her novel Ripe Tangerine 《橘子紅了》 is a critique of female exploitation
      under traditional family structures. Xiufen 秀芬 becomes the third wife in
      a rural household, arranged as Dama's 大媽 futile attempt to coax her
      husband back from the city he has abandoned her for to be with his second
      wife.
    </p>
    <p>
      Zhang Yimou 張藝謀 explored similar themes in his film Raise the Red
      Lantern 《大紅燈籠高高挂》, released the same year in 1991.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Qi Jun -->
</div>
<!-- Qian Zhongshu -->
<div class="container" id="Qian Zhongshu">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Qian Zhongshu 錢鍾書</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Qian Zhongshu 錢鍾書 (1910 - 1998) was a scholar and writer, and one of
      the most lauded Chinese literary figures of the 20th century.
    </p>
    <p>
      Fortress Beseiged 《圍城》 is a satirical novel written during his time in
      Shanghai under Japanese occupation. Centred on Fang Hongjian 方鴻漸, who
      has returned home after squandering funds and his studies in Europe, the
      book takes on middle-class affectations and relationships during the
      Republic of China era.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Qian Zhongshu -->
</div>
<!-- Sang Zhang -->
<div class="container" id="Sang Zhang">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3><nobr>Sang Ye 嗓曄</nobr> & <nobr>Zhang Xinxin 張辛欣</nobr></h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Sang Ye 嗓曄 (1955 - ) is a journalist, writer, and oral historian. Zhang
      Xinxin 張辛欣 (1953 - ) is a writer, novelist, and playwright.
    </p>
    <p>
      In 1986, the pair published Chinese Lives 《北京人：一百個普通人的自述》,
      a book of interviews with people from a wide range of social, family, and
      occupational backgrounds, in a country very different to today.
    </p>
    <p>
      Song and Zhang edited themselves out of the interviews, to leave their
      subjects' accounts as uninterrupted monologues.
    </p>
    <p>
      I read the English translation ahead of my first visit to China, and found
      the authors' deeply humane treatment of their subjects' diverse and
      sometimes tragic experiences striking. I was fortunate to later track down
      a second-hand Chinese edition (see here for places to search), but the
      translation is worth reading if that's unavailable.
    </p>
    <p>
      Sang Ye published a further oral history titled 《1949 1989 1999》, later
      translated to English as China Candid: The People on the People's Republic
      by <a href="#China Heritage">China&nbsp;Heritage</a> founder Gereme Barmé,
      and Miriam Lang.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Sang Zhang -->
</div>
<!-- Sanmao -->
<div class="container" id="San Mao">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Sanmao 三毛</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Sanmao 三毛 was the pseudonym of Echo Chen Ping 陳平 (1943 - 1991), a
      writer and translator. Her then-unconventional lifestyle, which saw her
      leave Taiwan alone for Europe and Morocco, embodied a free and independent
      way of life that inspired many across the Chinese-speaking world.
    </p>
    <p>
      Stories of the Sahara 《撒哈拉的故事》 is typical of her autobiographical
      writing style, based on her experiences living in Morocco with her Spanish
      husband, who passed away in an accident just a few years after
      publication. Her struggles to cope with this loss informed much of her
      subsequent work, and likely contributed to her suicide a decade later.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Sanmao -->
</div>
<!-- Wang Shuo -->
<div class="container" id="Wang Shuo">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wang Shuo 王朔</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Wang Shuo 王朔 (1958 - ) is a novelist and screenwriter. Known for his
      <em>liu mang</em> 流氓 or 'hooligan' style of writing, his works have been
      popular source material for film and television since the late 1980s.
    </p>
    <p>
      The dark humour of Please Don't Call Me Human 《千萬別把我當人》 gets
      close to the bone with its ridicule of totalitarian bureaucracy. Published
      in the 1980s, a similar work could not evade censorship today.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wang Shuo -->
</div>
<!-- Wang Xiaobo -->
<div class="container" id="Wang Xiaobo">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wang Xiaobo 王小波</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Wang Xiaobo 王小波 (1952 - 1997) was a novelist and essayist. Born in
      Beijing, he was amongst the many 'sent-down' or 'educated' youths 知識青年
      extracted from urban life to labour in rural areas during the Cultural
      Revolution 文革.
    </p>
    <p>
      That experience influenced some of his best-known works, including the
      satirical Golden Age 《黃金時代》. Essay collections such as Silent
      Majority 《沉默的大多數》 exhibit his vernacular wit and talent for
      querying social norms.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wang Xiaobo -->
</div>
<!-- Wu Ming-Yi -->
<div class="container" id="Wu Ming-Yi">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Wu Ming-Yi 吳明益</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Wu Ming-Yi 吳明益 (1971 - ) is a writer, artist and academic, and a
      professor of Chinese literature at National Dong Hwa University
      國立東華大學. His writing has explored environmentalism and themes unique
      to Taiwan, such as the influence of the island's Japanese occupation.
    </p>
    <p>
      The Stolen Bicycle 《單車失竊記》 revolves around a man seeking his
      long-absent father, with meditations on Taiwan's role in World War II. His
      meticulous effort to piece together whatever fragments he can - down to
      cataloguing bicycles used in the theatre his father served in - vividly
      contrasts the inability to know the person at the centre of his search.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Wu Ming-Yi -->
</div>
<!-- Xie Zifan -->
<div class="container" id="Xie Zifan">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Xie Zifan 謝子凡</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Xie Zifan 謝子凡 (19?? - ) is an author, translator, and former
      advertiser.
    </p>
    <p>
      Me and the Garbage Truck I Chased 《我和我追逐的垃圾車》 is a collection
      of semi-autobiographical short stories. Divided across four themes (Hot -
      Cold - Dark - Light), Xie's restrained but reflective writing style gives
      depth to her everyday subject matter.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Xie Zifan -->
</div>
<!-- Xue Yiwei -->
<div class="container" id="Xue Yiwei">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Xue Yiwei 薛憶溈</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Xue Yiwei 薛憶溈 (1964 - ) is an author, academic, and doctor of
      linguistics.
    </p>
    <p>
      His first novel, Desertion 《遺棄》, uses a first-person narrative to
      explore the protagonist's philosophical reflections, as he struggles
      against bureaucratic opposition to quit his vacuous government job.
    </p>
    <p>
      With Shenzheners 《深圳人》, Xue took inspiration from James Joyce's
      Dubliners to produce these short stories on fictional residents of the
      Chinese city.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Xue Yiwei -->
</div>
<!-- Yang Weidong -->
<div class="container" id="Yang Weidong">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Yang Weidong 楊偉東</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Yang Weidong 楊偉東 (1966 - ) is an artist and independent filmmaker.
      After suffering a politically-motivated family tragedy, he sought to
      understand how society could arrive at a state in which such acts occur
      without recourse.
    </p>
    <p>
      The result is Put This On Record 《立此存照》, a multi-volume series of
      over 500 interviews with prominent figures including officials,
      economists, historians, philosophers and activists across a spectrum of
      socio-political attitudes. Yang provides his subjects space to elucidate
      their thoughts, and humbly resists bringing his personal motivation into
      direct view.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Yang Weidong -->
</div>
<!-- Yu Hua -->
<div class="container" id="Yu Hua">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Yu Hua 余華</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Yu Hua 余華 (1960 - ) is an author, and committee member of the Chinese
      Writers Association.
    </p>
    <p>
      To Live 《活著》 follows the hubristic descent into poverty of the
      arrogant son of a land-owning family. As the events of civil war, famine,
      and the Cultural Revolution unfold, the protagonist emerges with a kinder
      outlook even under increasing isolation.
    </p>
    <p>
      As a study of an individual, To Live makes a good compliment to Chen
      Zhongshi's 陳忠實 broader take on similar themes from that era in White
      Deer Plain 《白鹿原》.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Yu Hua -->
</div>
<!-- Zhang Yinlin -->
<div class="container" id="Zhang Yinlin">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Zhang Yinlin 張蔭麟</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Zhang Yinlin 張蔭麟 (1905 - 1942) was a writer and professor of history.
    </p>
    <p>
      His Outline of Chinese History 《中國史綱》 is an excellent introduction
      to ancient China, from the Xia dynasty through the Warring States period,
      unification under Qin Shihuang, and on to the establishment of the Eastern
      Han dynasty in the 1st century AD.
    </p>
    <p>
      The book is full of anecdotes on figures and events, and traces the
      emergence of China's philosophical schools, social customs, and political
      systems.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Zhang Yinlin -->
</div>
<!-- More Suggestions -->
<div class="container" id="Others">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h3>Others</h3>
    </div>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      This is a rough and ready list of writers I've come across in one way or
      another, and intend to read down the line.
    </p>
    <ul>
      <li>Chen Xue 陳雪</li>
      <li>Gu Cheng 顧城</li>
      <li>Jiang Zilong 蔣子龍： 《農民帝國》</li>
      <li>Liao Yiwu 廖亦武</li>
      <li>Ma Boyong 馬博傭：<nobr>《寂靜之城、長安的荔枝》</nobr></li>
      <li>Mang Ke 芒克：<nobr>《陽光中的向日葵》</nobr></li>
      <li>Mo Yan 莫言：《紅高粱家族》</li>
      <li>Murong Xuecun 慕容雪村</li>
      <li>Ping Lu 平路： 《黑水》</li>
      <li>Wang Xin 王欣</li>
      <li>Wang Zengqi 汪曾褀</li>
      <li>Xu Jilin 許記霖：<nobr>《何種文明？中國崛起的再思考》</nobr></li>
      <li>Yan Lianke 閻連科：《日熄》</li>
      <li>
        Yi Xianfeng 伊險峰 & Yang Ying 楊櫻：<nobr>《張醫生與王醫生》</nobr>
      </li>
      <li>Zhang Boshu 張博樹：《經濟行爲與人》</li>
    </ul>
  </div>
  <!-- More Suggestions -->
</div>
<script src="/javascripts/toTopButton.js"></script>
