<% layout("layouts/boilerplate") %>
  <div class="container body-main-column">
    <h1>XUANZANG&nbsp;<span class="chinese-heading">玄奘</span></h1>
    <h5 class="title-en">
      Notes on Sinophonia
    </h5>
    <p>
      <span id="name">XUANZANG</span> <span class="chinese-heading">玄奘</span> is an ongoing project to highlight
      creators of significant Chinese-language works and output in various forms, and sources of related social
      commentary.
    </p>
    <p><span class="title-en">Sinophonia</span> is posited as a catch-all term for these cultural expressions,
      to imply a shared language but make no assumptions of a common perspective or aesthetic.
    </p>
    <p>
      Mandarin is the most represented language or dialect here by virtue of its demographic prevalence, but there's a
      limited
      Cantonese selection and plans to feature more works beyond these in time.
    </p>
    <p class="text-box">
      For more on the concept behind the site, see <a href="/about">ABOUT</a>.
    </p>
    <p>
      Entries are grouped by medium, along with a further section on places to seek out more materials or
      tools to learn with.
    </p>
    <hr />
    <h2 class="h2-link">
      <a href="/works/ink" class="h2-link main-anchor"><span class="chinese-heading">墨</span>&nbsp;INK</a>
    </h2>
    <h2 class="h2-link">
      <a href="/works/voice" class="h2-link main-anchor">VOICE&nbsp;<span class="chinese-heading">嗓</span></a>
    </h2>
    <h2 class="h2-link">
      <a href="/sources" class="h2-link main-anchor"><span class="chinese-heading">源</span>&nbsp;SOURCES</a>
    </h2>
    <hr />
    <p>
      Modern literature &mdash; roughly from Lu Xun <span class="person-zh">魯迅</span> to the present &mdash; is the main focus
      of <span id="name">INK</span> <span class="chinese-heading">墨</span> but
      economics, history, politics and sociology also feature, as do several excellent online archives
      that cover an extensive range of essays, journals and records of documentary interest.
    </p>
    <p>
      Audio content in <span id="name">VOICE</span> <span class="chinese-heading">嗓</span> includes podcast series that
      vary in
      scope from oral histories and political commentary, to philosophy and pop culture such as music and film.
    </p>
    <hr />
    <p>
      Content on this site is typically included based on cultural significance, entertainment value, social or
      historical insight, or a combination of these factors, but is limited to what I've personally read or watched or
      listened to.
    </p>
    <p>
      For this reason it's inevitable that many excellent creators and works have been overlooked here &mdash; ping
      feedback and
      suggestions on what else to include to <nobr><a href="mailto:elliott@xuan-zang.com" class="external-url"
          target="_blank">
          elliott@xuan-zang.com</a></nobr>.
    </p>
  </div>