<h1>SINOPHONIA&nbsp;<span class="chinese-heading">華品</span></h1>
<p>
    This is an ongoing project to highlight creators of <span class="italic-en">sinophonia</span> &mdash;
    Chinese-language works and sources
    of related social commentary.<sup>&nbsp;<a class="note-ref" href="#note-01">1</a></sup></span></p>
<p>
    It's the site I wish I had access to a decade ago when first seeking out engaging
    writing and recordings in Chinese.
</p>
<p class="text-box">
    Click on headings to navigate, or read on below.
</p>
<h2 class="h2-bilingual">
    <a href="/works/ink" class="h2-bilingual main-anchor"><span class="chinese-heading">墨</span>&nbsp;INK</a>
    <span class="inline-text h2-bilingual italic-en">&emsp;&emsp;&mdash; written word</span>
</h2>
<h2 class="h2-bilingual">
    <a href="/works/voice" class="h2-bilingual main-anchor">VOICE&nbsp;<span class="chinese-heading">嗓</span></a>
    <span class="inline-text h2-bilingual italic-en">&emsp;&emsp;&mdash; spoken word</span>
</h2>
<h2 class="h2-bilingual">
    <a href="/sources" class="h2-bilingual main-anchor"><span class="chinese-heading">源</span>&nbsp;SOURCES</a>
    <span class="inline-text h2-bilingual italic-en">&emsp;&emsp;&mdash; tips & tools</span>
</h2>
<p class="text-box">
    See the <a href="/about">ABOUT</a> page for more on the concept behind the site.
</p>
<p>
    Mandarin <nobr>普通話</nobr> / <nobr>國語</nobr> is the most represented language or dialect here due to its
    ubiquity, but there's a limited Cantonese <nobr>廣東話</nobr> / <nobr>粵語</nobr> selection and plans to feature more
    beyond these
    in time.
</p>
<p>
    Ping feedback and suggestions to <nobr><a href="mailto:elliott@sinophonia.com" class="external-url">
            elliott@sinophonia.com</a></nobr>.
</p>
<hr class="wider-top-margin">
<table>
    <tbody>
        <tr id="note-01">
            <td><a class="backlink backlink-number" href="#note-ref-01">1</a></td>
            <td>
                <p class="note">
                    For lack of a better term I'll use <span class="italic-en">sinophonia</span> to indicate works
                    created by societies with Chinese <nobr>中文 / 華語</nobr> as a shared
                    language group, and analysis in any language that focuses on those societies. It
                    does not assume a common perspective or aesthetic.&ensp;<a class="backlink backlink-arrow"
                        href="#note-ref-01">⤣</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>