<% layout("layouts/boilerplate") %>
  <article>
    <section>
      <%- include("./content/intro.html") %>
    </section>
    <hr class="wider-top-margin"/>
    <section id="contents">
      <%- include("./content/pagelinks.html") %>
    </section>
    <section>
      <% entryPaths.forEach(function(entryPath) { %>
        <hr class="wider-top-margin" />
        <!-- Dynamically load resources from "content/entries" -->
        <%- include(entryPath) %>
          <% }); %>
    </section>
  </article>
  <button type="button" id="btn-back-to-top">
    <!-- Back to top button -->
    个
  </button>
  <script src="/javascripts/toTopButton.js"></script>