:root {
  color-scheme: light only;
  --main-bg-colour: lch(8% 1.25 165);
  --main-txt-colour: lch(95% 5 82);
  --navbar-height: 64px;
  --navbar-bg-colour: lch(13.12% 7.71 287.17);
  --alt-bg-colour: lch(90% 3 100);
  --alt-txt-colour: lch(8% 1.25 165);
  --ext-url-colour: lch(44.79% 27.89 289.31);

  --half-margin: 0.5rem;
  --main-margin: 1rem;
  --more-margin: 1.5rem;
  --wide-margin: 3rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Source Serif Pro", "Noto Serif TC", serif;
  font-size: 1.2em;
  text-align: center;

  background-color: var(--main-bg-colour);
  color: var(--main-txt-colour);
}

.container {
  width: 100%;
  max-width: 950px;

  margin-left: auto; /* Center the container */
  margin-right: auto;
}

img {
  display: block;
  margin: 0 auto;

  max-width: 80%;
  height: auto;
}

h1,
h2,
h3,
h6,
#name {
  font-family: "Oswald", sans-serif;
}

.chinese-heading {
  font-family: "ZCOOL QingKe HuangYou";
}

h1,
.h2-link {
  /* Centre-align capitalised headings and characters */
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.25rem;
  padding: 0.15rem 0;
}

h1 {
  margin-top: var(--main-margin);
  padding-top: 65px;
}

hr {
  margin-top: var(--more-margin);
  margin-bottom: var(--more-margin);
}

p,
.h3-sources,
.index {
  text-align: start;
  margin-top: var(--main-margin);
}

a {
  position: relative;
  color: var(--main-txt-colour);
  text-underline-offset: 2px;
}

.main-anchor {
  text-decoration: none;
}

.return-link {
  margin-top: var(--wide-margin);
}

.main-anchor:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.25px;
  bottom: 0;
  left: 0;
  background-color: var(--main-txt-colour);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.main-anchor:hover:before {
  color: var(--alt-txt-colour);
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#btn-back-to-top {
  position: fixed;
  bottom: 55px;
  right: 20px;
  
  display: none;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 50%;
  
  background-color: var(--navbar-bg-colour);
  color: var(--main-txt-colour);
  
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

.body-main-column {
  width: 100%; /* Default to full width on small screens */
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .body-main-column {
    width: 66.6667%; /* Set to 2/3 width on medium and larger screens */

    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Containers that can form multiple adjacent columns (newspaper-style) */
.container-columns {
  column-count: 2;

  @media screen and (min-width: 450px) {
    column-count: 3;
  }
}

.container-columns a {
  display: flex;
  flex-direction: row;
}

ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 24px 0;
}

.list li {
  margin-top: 5px;
  padding-right: auto;
  margin-right: auto;
}

.list a {
  text-decoration: none;
  display: inline-block; /* Limits anchor width to text length */
  position: relative;
}

.list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: var(--main-txt-colour);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.podcast {
  /* VOICE page images */
  max-width: 160px;
  max-height: 160px;
  margin-top: var(--main-margin);
  margin-bottom: var(--main-margin);
  margin: 0 auto;
}
.podcast-thumbs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--main-margin);
}
.podcast-thumb {
  flex: 0 0 auto;

  max-width: 140px;
  max-height: 140px;
}
.app-thumb {
  /* SOURCES page images */
  max-width: 85px;
  max-height: 85px;
  margin-top: var(--wide-margin);
}
.app-thumb-wide {
  max-width: 180px;
  max-height: 85px;
  margin-top: var(--wide-margin);
}
.podcast img,
.podcast-thumb img,
.app-thumb img,
.app-thumb-wide img {
  border-radius: 7.5px;
}
.podcast-thumb img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.app-thumb img, 
.app-thumb-wide img {
  margin-left: 0;
}

.text-box,
.caption {
  /* Global text-boxes and image captions */
  font-family: "Oswald", sans-serif;
}

.text-box,
.caption {
  font-size: 1rem;
  text-align: center;
}

.text-box,
.text-box-cn {
  background-color: var(--alt-bg-colour);
  color: var(--alt-txt-colour);
  padding: var(--half-margin);
  border-radius: 5px;
}

.text-box a {
  background-color: var(--alt-bg-colour);
  color: var(--alt-txt-colour);
}

.caption,
.text-box-cn {
  @media screen and (min-width: 500px) {
    width: 80%;
    max-width: min(80%, 400px);
    margin: 0 auto;
  }
}

.caption {
  margin-top: var(--half-margin);
}

.text-indent {
  /* Chinese text boxes */
  text-indent: 32px;
  margin: 0;
}

.vertical-panel {
  /* Column-display Chinese text */
  writing-mode: vertical-rl;
  overflow-x: auto;

  width: 100%;
  max-width: 365px;
  height: 480px;
}

.external-url {
  /* Global external URL links */
  text-decoration-color: var(--ext-url-colour);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
.external-url:hover {
  color: var(--ext-url-colour);
}