:root {
  color-scheme: light only;
  --main-bg-colour: lch(8% 1.25 165);
  --main-txt-colour: lch(95% 5 82);
  --navbar-height: 64px;
  --navbar-bg-colour: lch(13.12% 7.71 287.17);
  --alt-bg-colour: lch(90% 3 100);
  --alt-txt-colour: lch(8% 1.25 165);
  --highlight-colour: lch(75% 20 260);

  --eigth-margin: 0.125rem;
  --quarter-margin: 0.25rem;
  --half-margin: 0.5rem;
  --main-margin: 1rem;
  --more-margin: 1.5rem;
  --wide-margin: 3rem;
  --wider-margin: 4.5rem;
}

html {
  line-height: 1.5;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Source Serif Pro", "Noto Serif TC", serif;
  font-size: 1.2em;
  text-align: center;

  background-color: var(--main-bg-colour);
  color: var(--main-txt-colour);

  padding: 0;
  margin: 0;
}

main {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

article {
  width: 100%;
  max-width: 625px;
  margin-bottom: 200px;
}

h1,
h2,
.h2-bilingual {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.chinese-heading {
  font-family: "ZCOOL QingKe HuangYou";
}

h1 {
  font-size: 2.5rem;
  margin-top: var(--main-margin);
  padding-top: 65px;
}
h2 {
  font-size: 2rem;
}
.h2-bilingual {
  margin-top: var(--half-margin);
  margin-bottom: var(--half-margin);
  padding: var(--quarter-margin) 0;
}
.h2-flex {
  display: flex;
  flex-direction: column;
}
h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: var(--half-margin);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--alt-bg-colour);
  margin-top: var(--more-margin);
  margin-bottom: var(--more-margin);
}
.wide-top-margin {
  margin-top: var(--wide-margin);
}
.wider-top-margin {
  margin-top: var(--wider-margin);
}

p {
  text-align: start;
  margin-top: 0;
  margin-bottom: 1rem;
}

.note {
  font-size: 12pt;
  margin-left: 25px;
  margin-bottom: 0;
}

a {
  position: relative;
  color: var(--main-txt-colour);
  text-underline-offset: 2px;
}

.main-anchor {
  text-decoration: none;
}
.main-anchor:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 7px;
  left: 0;
  background-color: var(--main-txt-colour);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out 0s;
  -webkit-transform: scaleX(0); /* Keep for legacy browsers */
  -webkit-transition: all 0.5s ease-in-out 0s; /* Keep for legacy browsers */
}
.main-anchor:hover:before {
  height: 1px;
  bottom: 7px;
  color: var(--alt-txt-colour);
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1); /* Keep for legacy browsers */
}

.backlink {
  display: inline-block;
  text-decoration: none;
}
.backlink-arrow {
  font-size: 14pt;
  transform: rotate(90deg);
  border: none;
}
.backlink-arrow:hover {
  color: var(--highlight-colour);
}
.backlink-number {
  border: 1px dotted var(--alt-bg-colour);
  padding: 0 0.5rem;
}

ul li {
  text-align: start;
}

.contents-columns {
  /* Containers that can form multiple adjacent columns (newspaper-style) */
  column-count: 2;
}
@media (min-width: 500px) {
  .contents-columns {
    column-count: 3;
  }
}
.contents-columns a {
  display: flex;
  flex-direction: row;
}
.contents-pagelinks {
  margin-top: var(--more-margin);
}

ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 24px 0;
}

.list li {
  text-align: center;
  margin-top: 5px;
  margin-right: auto;
  padding-right: auto;
}

.list a {
  text-decoration: none;
  display: inline-block; /* Limits anchor width to text length */
  position: relative;
}

.list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 3px;
  left: 0;
  background-color: var(--main-txt-colour);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.7s ease-in-out 0s;
  -webkit-transform: scaleX(0); /* Keep for legacy browsers */
  -webkit-transition: all 0.7s ease-in-out 0s; /* Keep for legacy browsers */
}

.list a:hover:before {
  bottom: 3px;
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1); /* Keep for legacy browsers */
}

@media (max-width: 400px) {
  figure {
    padding: 0;
    margin: 0;
  }
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media (min-width: 500px) {
  img {
    max-width: 85%;
  }
}

.app-thumb,
.app-thumb-wide,
.podcast-thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.podcast img,
.podcast-thumb img,
.app-thumb img,
.app-thumb-wide img,
.app-table-icon-cell img {
  border-radius: 7.5px;
}

.podcast img,
.podcast-thumb {
  /* VOICE page images */
  max-width: 140px;
  max-height: 140px;
}
.podcast-thumb img {
  max-width: 100%;
}
.podcast-thumbs {
  flex-wrap: wrap;
  gap: var(--main-margin);
}

.app-thumb,
.app-thumb-wide {
  /* SOURCES page images */
  max-height: 85px;
  margin-top: var(--wide-margin);
}
.app-thumb {
  max-width: 85px;
}
.app-thumb-wide {
  max-width: 180px;
}

.app-table {
  width: 100%;
  border-collapse: collapse;
}

.app-table-icon-cell {
  min-width: 85px;
  width: 85px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.app-table-icon-cell img {
  max-width: 100%;
  height: auto;
}

.app-table td {
  vertical-align: middle;
  padding: 10px;
}

.app-table p {
  margin: 0;
}

@media screen and (max-width: 450px) {
  .app-table,
  .app-table tbody,
  .app-table tr,
  .app-table td {
      display: block;
  }

  .app-table tr {
    margin-bottom: 20px;
  }
}

.text-box {
  /* Global text-boxes and image captions */
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-align: center;

  margin-top: var(--more-margin);
  margin-bottom: var(--more-margin);
}

.text-box,
.text-box-cn {
  background-color: var(--alt-bg-colour);
  color: var(--alt-txt-colour);
  padding: var(--half-margin);
  border-radius: 5px;
}

.text-box a {
  background-color: var(--alt-bg-colour);
  color: var(--alt-txt-colour);
}

.text-box-cn p {
  /* Chinese text boxes */
  margin: 0;
}

.text-box-center p {
  margin-top: var(--half-margin);
  margin-bottom: var(--half-margin);
}

.text-box-cn,
.text-box-center {
  margin: 0 auto;
  margin-bottom: var(--more-margin);
}

figcaption,
.text-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

figcaption {
  flex-wrap: wrap;
  text-align: center;
}

.vertical-panel,
.vertical-panel-narrow {
  /* Column-display Chinese text */
  writing-mode: vertical-rl;
  overflow-x: auto;

  width: 100%;
  max-width: 365px;
  max-height: 480px;

  box-sizing: border-box;
}

.vertical-panel-narrow {
  /* Additional settings for narrow vertical text-boxes */
  width: auto;
}

@media screen and (max-width: 400px) {
  .vertical-panel {
    width: calc(100vw - 20px);
    max-width: 100vw;
    margin: 0 auto;
  }
}

.inline-text {
  font-family: "Source Serif Pro", "Noto Serif TC", serif;
  font-size: 14pt;
  font-weight: normal;
  align-items: center;
}

.external-url {
  /* Global external URL links */
  text-decoration-color: var(--highlight-colour);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
.external-url:hover {
  color: var(--highlight-colour);
}

.life-date,
.ordinal-indicator,
.quote,
.italic-en,
.title-en {
  font-style: italic;
}

.life-date,
.person-zh,
.title-zh {
  white-space: nowrap;
}
.title-zh::before,
.title-zh-long::before {
  content: "《";
  color: var(--highlight-colour);
}
.title-zh::after,
.title-zh-long::after {
  content: "》";
  color: var(--highlight-colour);
}

.error-pages {
  margin-top: 20vh;
}
.error-pages p {
  text-align: center;
}