<% layout("layouts/boilerplate") %>
<div class="container">
  <h1>MORE INK 墨單</h1>
</div>
<!-- Back to top button -->
<button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
  <i class="fas fa-arrow-up-long"></i>
</button>
<!-- More Suggestions -->
<div class="container" id="Others">
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      This is a rough and ready list of writers and books I intend to read down
      the line.
    </p>
    <ul>
      <li>Chen Rou-Jin 陳柔縉： 《宮前町九十番地》</li>
      <li>
        Chen Xue 陳雪： <nobr>《橋上的孩子》、</nobr
        ><nobr>《你不能再死一次》</nobr>
      </li>
      <li>Feng Tang 馮唐： 《北京北京》</li>
      <li>Gao Xingjian 高行健： 《靈山》</li>
      <li>Gu Cheng 顧城</li>
      <li>Jiang Zilong 蔣子龍： 《農民帝國》</li>
      <li>Liao Yiwu 廖亦武</li>
      <li>Ma Boyong 馬博傭：<nobr>《寂靜之城、長安的荔枝》</nobr></li>
      <li>Mang Ke 芒克：<nobr>《陽光中的向日葵》</nobr></li>
      <li>Mao Haijian 茅海建：《天朝的崩潰》</li>
      <li>Mo Yan 莫言：《紅高粱家族》</li>
      <li>Murong Xuecun 慕容雪村</li>
      <li>Pai Hsien-yung 白先勇：《臺北人》、《孽子》</li>
      <li>Ping Lu 平路： 《黑水》</li>
      <li>Sang Ye 嗓曄： 《1949 1989 1999》</li>
      <li>Tzou Jiingwen 鄒景雯：《李登輝執政告白實錄》</li>
      <li>Wang Xin 王欣</li>
      <li>Wang Zengqi 汪曾褀</li>
      <li>Xu Jilin 許記霖：<nobr>《何種文明？中國崛起的再思考》</nobr></li>
      <li>Yan Lianke 閻連科：《日熄》</li>
      <li>
        Yi Xianfeng 伊險峰 & Yang Ying 楊櫻：<nobr>《張醫生與王醫生》</nobr>
      </li>
      <li>Yu Hua 余華：《文城》</li>
      <li>Zhang Boshu 張博樹：《經濟行爲與人》</li>
    </ul>
  </div>
  <!-- More Suggestions -->
</div>
<div class="container mt-5">
  <div>Back to <a href="/ink">INK</a></div>
</div>
<script src="/javascripts/toTopButton.js"></script>
