<% layout("layouts/boilerplate") %>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>
  <!-- Include the More Ink content -->
  <div class="container body-main-column">
    <%- include("./print.html") %>
  </div>

  <div class="return-link"><a href="/sources" class="main-anchor name"><span class="chinese-heading">回</span>&nbsp;<span
        id="name">SOURCES</span>&nbsp;<span class="chinese-heading">源</span></a></div>

  <script src="/javascripts/toTopButton.js"></script>