<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- Introduction -->
  <h1>SOURCES&nbsp;<span class="chinese-heading">源</span></h1>
  <div class="container-fluid col-md-8">
    <p>
      This is a brief intro to places to find books and podcasts, and some tools
      I've found useful for studying Mandarin over the years.
    </p>
    <p>
      Your usual bookstore, website or podcast app may already have what you're
      looking for, but for many books and podcasts you'll need to look
      elsewhere.
    </p>
    <p>
      The platforms introduced below are a good place to start, and generally
      have a wide selection of Chinese-language content available.
    </p>
    <p>
      Note that these are suggestions only - Xuanzang is not affiliated with any
      of these links, and you should exercise the usual caution when visiting
      unfamiliar sites to make downloads or purchases.
    </p>
    <!-- Dividing line -->
    <hr />
  </div>
  <!-- Introduction -->
</div>
<!-- Pagelinks -->
<div class="container">
  <div class="container-fluid col-md-8">
    Get&nbsp;<a href="#Books">Books</a>&emsp; Get&nbsp;<a href="#Podcasts"
      >Podcasts</a
    >&emsp; Get&nbsp;<a href="#Fluent">Fluent</a>&emsp;
    <!-- Dividing line -->
    <hr />
  </div>
  <!-- Pagelinks -->
</div>
<!-- Back to top button -->
<button type="button" id="btn-back-to-top">
  <i class="fas fa-arrow-up-long"></i>
</button>
<!-- Get Books -->
<div class="container" id="Books">
  <div class="container-fluid col-md-8">
    <h2>Get Books</h2>
  </div>
  <div class="container-fluid col-md-8">
    <p>
      In Chinese-speaking countries, you'll find independent bookstores and
      chains in any city.
    </p>
    <p>
      Overseas, large stores in international or student cities may stock a
      limited range -
      <a href="https://www.foyles.co.uk/" target="_blank">Foyles</a> in London,
      for example, has a small selection of Chinese-language fiction and
      non-fiction, as well as study materials.
    </p>
    <p>
      In the majority of situations, online sellers such as those below offer
      convenient access to the widest selection.
    </p>
    <p class="text-box">
      If you're new to reading books in Chinese languages, here's a&nbsp;<a
        href="/sources/print"
        >quick explainer</a
      >&nbsp;on text formats.
    </p>
    <!-- Bookstore links -->
    <div>
      <!-- Books.com.tw -->
      <div>
        <div class="app-thumb">
          <a
            class="col-md-auto"
            href="https://www.books.com.tw/"
            target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682423144/xuanzang/sources/bokelai_efdwyk.jpg"
              class="img-fluid"
              alt="Books.com.tw"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.books.com.tw/" target="_blank">Books.com.tw</a
          >&nbsp;<span class="chinese-heading">博客來</span>
        </h3>
        <p>
          Physical and digital books and magazines, in traditional and
          simplified editions. International shipping available, and collection
          from 711 stores in certain countries.
        </p>
        <!-- Books.com.tw -->
      </div>
      <!-- Haodoo -->
      <div>
        <div class="app-thumb">
          <a class="col-md-auto" href="https://haodoo.net/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682430047/xuanzang/sources/Haodoo_favicon_m6zilk.png"
              class="img-fluid"
              alt="Haodoo"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://haodoo.net/" target="_blank">Haodoo</a>&nbsp;<span
            class="chinese-heading"
            >好讀</span
          >
        </h3>
        <p>
          Extensive collection of free digital books in traditional characters.
        </p>
        <!-- Haodoo -->
      </div>
      <!-- Rakuten -->
      <div>
        <div class="app-thumb-wide">
          <a
            class="col-md-auto"
            href="https://www.rakuten.com.tw/"
            target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682431172/xuanzang/sources/rakuten_m7gqpm.svg"
              class="img-fluid"
              alt="Rakuten"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.rakuten.com.tw/" target="_blank">Rakuten</a
          >&nbsp;<span class="chinese-heading">樂天市場</span>
        </h3>
        <p>
          Physical and digital books in traditional characters. International
          shipping available. Second-hand books available.
        </p>
        <!-- Rakuten -->
      </div>
      <!-- Taaze -->
      <div>
        <div class="app-thumb">
          <a class="col-md-auto" href="https://www.taaze.tw/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682423495/xuanzang/sources/taaze_p2g52w.jpg"
              class="img-fluid"
              alt="TAAZE"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.taaze.tw/" target="_blank">TAAZE</a>&nbsp;<span
            class="chinese-heading"
            >讀册生活</span
          >
        </h3>
        <p>
          Physical and digital books, in traditional characters. International
          shipping available. Second-hand books available.
        </p>
        <!-- Taaze -->
      </div>
      <!-- Taobao TMall -->
      <div>
        <div class="app-thumb">
          <a class="col-md-auto" href="https://taobao.com/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682423495/xuanzang/sources/taobao_cu24vs.png"
              class="img-fluid"
              alt="Taobao"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://taobao.com/" target="_blank">Taobao</a>&nbsp;<span
            class="chinese-heading"
            >淘寶</span
          >&nbsp;&&nbsp;<a href="https://www.tmall.com/" target="_blank"
            >TMall</a
          >&nbsp;<span class="chinese-heading">天猫</span>
        </h3>
        <p>
          These two ecommerce giants from Alibaba 阿里巴巴 are roughly
          equivalent to eBay and Amazon. Find books either from official
          retailers or a marketplace of small stockists.
        </p>
        <!-- Taobao Tmall -->
      </div>
      <!-- Dividing line -->
      <hr />
      <!-- Bookstore Links -->
    </div>
  </div>
  <!-- Get Books -->
</div>
<!-- Get Podcasts -->
<div class="container" id="Podcasts">
  <div class="container-fluid col-md-8">
    <h2>Get Podcasts</h2>
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Some of the apps below are available on major download platforms, but for
      others you may need to visit their sites directly for download options.
    </p>
    <p class="text-box">
      Searches with traditional 繁體 and simplified 簡體 characters may return
      different results, so if you can't find a particular series, switch the
      character set and try again.
    </p>
    <!-- Podcast platforms -->
    <div>
      <!-- KKBOX -->
      <div>
        <div class="app-thumb-wide">
          <a
            class="col-md-auto"
            href="https://www.kkbox.com/hk/tc/"
            target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682434328/xuanzang/sources/KKBOX_RGB_BrandColor_l9epwj.png"
              class="img-fluid"
              alt="KKBOX"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.kkbox.com/hk/tc/" target="_blank">KKBOX</a>
        </h3>
        <p>
          Taiwan-based podcast platform available on the App Store, Google Play,
          and Windows. A streaming option is also available - see download
          options
          <a href="https://www.kkbox.com/hk/tc/download" target="_blank">here</a
          >.
        </p>
        <!-- KKBOX -->
      </div>
      <!-- LIZHI -->
      <div>
        <div class="app-thumb">
          <a class="col-md-auto" href="http://www.lizhi.fm/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682433047/xuanzang/sources/lizhi_c4ous2.png"
              class="img-fluid"
              alt="LIZHI"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="http://www.lizhi.fm/" target="_blank">LIZHI</a>&nbsp;<span
            class="chinese-heading"
            >荔枝</span
          >
        </h3>
        <p>
          Guangzhou-based podcast platform established in 2010. There are direct
          download links for Andriod and iPhone on the front page of the
          website.
        </p>
        <!-- LIZHI -->
      </div>
      <!-- Pocket Casts -->
      <div>
        <div class="app-thumb">
          <a class="col-md-auto" href="https://pocketcasts.com/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1684062225/xuanzang/sources/pocketcasts_gngmcs.png"
              class="img-fluid"
              alt="Pocket Casts"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://pocketcasts.com/" target="_blank">Pocket Casts</a>
        </h3>
        <p>
          Free app available on the App Store and Google Play. The app has
          useful playback control features such as volume boosting for quiet
          audio, and speed adjustment.
        </p>
        <!-- Pocket Casts -->
      </div>
      <!-- Ximalaya -->
      <div>
        <div class="app-thumb">
          <a
            class="col-md-auto"
            href="https://www.ximalaya.com/"
            target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682433290/xuanzang/sources/ximalaya_dt2fsw.png"
              class="img-fluid"
              alt="Ximalaya"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.ximalaya.com/" target="_blank">Ximalaya</a
          >&nbsp;<span class="chinese-heading">喜馬拉雅</span>
        </h3>
        <p>
          Shanghai-based podcast and audiobook platform established in 2012.
          There are direct download links for Andriod and iPhone on the front
          page of the website.
        </p>
        <!-- Ximalaya -->
      </div>
      <!-- Dividing line -->
      <hr />
    </div>
    <!-- Get Podcasts -->
  </div>
</div>
<!-- Get Fluent -->
<div class="container" id="Fluent">
  <div class="container-fluid col-md-8">
    <h2>Get Fluent</h2>
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Xuanzang is oriented towards native Chinese-language content and places to
      get hold of it.
    </p>
    <p>
      But - if you're looking for study materials or guidance on how to improve
      your Chinese, below is a short list of apps and tools I've found useful
      over the years.
    </p>
    <p class="text-box">
      Some of the platforms below provide paid as well as free services. You may
      find the added content worth the price, but it's 100% possible to reach an
      advanced language ability without it.
    </p>
    <!-- Study sites -->
    <div>
      <!-- Hacking Chinese -->
      <div>
        <div class="app-thumb">
          <a
            class="col-md-auto"
            href="https://www.hackingchinese.com/"
            target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682423101/xuanzang/sources/square-stamp-1000_hrhnrn.png"
              class="img-fluid"
              alt="Hacking Chinese"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.hackingchinese.com/" target="_blank"
            >Hacking Chinese</a
          >
        </h3>
        <p>
          Olle Linge has built an excellent site and community at Hacking
          Chinese.
        </p>
        <p>
          I used his site for many years in the past, which is full of guidance
          on different approaches to the language, and the many tools available
          to help improve specific skills such as reading and writing.
        </p>
        <!-- Hacking Chinese -->
      </div>
      <!-- Anki -->
      <div>
        <div class="app-thumb">
          <a
            class="col-md-auto"
            href="https://apps.ankiweb.net/"
            target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516182/xuanzang/sources/anki_b791de.png"
              class="img-fluid"
              alt="Anki"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://apps.ankiweb.net/" target="_blank">Anki</a>
        </h3>
        <p>
          Anki is a flashcard platform that uses spaced repition software - see
          Benny Lewis'
          <a href="https://www.fluentin3months.com/spaced-repetition/"
            >explainer</a
          >
          if you're new to the concept.
        </p>
        <p>
          It can be used for all kinds of subjects - it's supposedly popular
          with medical students for learning clinical terms - and is especially
          useful for building vocabulary in a foreign language.
        </p>
        <p>
          Either download flashcard decks created by others, or build your own
          over time and add new terms as you come across them.
        </p>
        <p>
          Anki is free on desktop systems and Android, but there is a one-off
          fee for the iPhone version.
        </p>
        <!-- Anki -->
      </div>
      <!-- iTalki -->
      <div>
        <div class="app-thumb">
          <a class="col-md-auto" href="https://www.italki.com/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516629/xuanzang/sources/italki_znvaix.png"
              class="img-fluid"
              alt="iTalki"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.italki.com/" target="_blank">iTalki</a>
        </h3>
        <p>
          iTalki is a platform for connecting language teachers and students for
          online lessons.
        </p>
        <p>
          For popular languages there are many teachers available across
          different time zones and a range of budgets, and it is often possible
          to have a trial lesson with a teacher first before committing to more
          time with them.
        </p>
        <p>
          The site used to offer a free language exchange option, where users
          could find partners to practice conversation in their native
          languages.
        </p>
        <p>
          That seems to no longer be available, but would be worth seeking out
          on another platform - free conversation practice from anywhere in the
          world and the chance to make friends in your target language is an
          incredible thing.
        </p>
        <!-- iTalki -->
      </div>
      <!-- Lang-8 -->
      <div>
        <div class="app-thumb">
          <a class="col-md-auto" href="https://lang-8.com/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682603404/xuanzang/sources/lang-8_ij9in8.jpg"
              class="img-fluid"
              alt="Lang-8"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://lang-8.com/" target="_blank">Lang-8</a>
        </h3>
        <p>
          Lang-8 is a platform for improving writing skills in foreign
          languages.
        </p>
        <p>
          Users write entries in their target language, and native speakers then
          correct mistakes and provide feedback - the more entries you work on
          in your native language, the more likely your own entries will receive
          corrections.
        </p>
        <p>
          Unfortunately Lang-8 no longer accepts new registrations, but the same
          company has an app called
          <a href="https://hinative.com/" target="_blank">HiNative</a> that
          appears to offer similar features.
        </p>
        <!-- Lang-8 -->
      </div>
      <!-- Pleco -->
      <div>
        <div class="app-thumb-wide">
          <a class="col-md-auto" href="https://www.pleco.com/" target="_blank"
            ><img
              src="https://res.cloudinary.com/duiqzld67/image/upload/v1682425893/xuanzang/sources/pleco_jvw3yq.png"
              class="img-fluid"
              alt="Pleco"
              loading="lazy"
          /></a>
        </div>
        <h3 class="h3-sources">
          <a href="https://www.pleco.com/" target="_blank">Pleco</a>
        </h3>
        <p>
          Pleco is a Chinese dictionary app, available on the App Store and
          Google Play. The free version is excellent, and the premium version is
          well worth the price.
        </p>
        <p>
          You can easily view definitions from multiple dictionaries at once,
          including several with definitions in Chinese (useful for an immersive
          approach). The app has audio support, example sentences, and a
          flashcard function.
        </p>
        <p>
          I began using Pleco over a decade ago for Mandarin, and still use it
          on a daily basis for that and more recently Cantonese as well.
        </p>
        <p>
          It is without doubt the single most useful tool I have made use of,
          and has made the process of learning to read and expand vocabulary far
          more smooth and enjoyable than it otherwise would have been.
        </p>
      </div>
    </div>
    <!-- Study sites -->
  </div>
  <!-- Get Fluent -->
</div>
<script src="/javascripts/toTopButton.js"></script>
