<% layout("layouts/boilerplate") %>
  <article>
    <section>
      <%- include("./content/about.html") %>
    </section>
    <hr class="wider-top-margin" />
    <section>
      <%- include("./content/name.html") %>
    </section>
  </article>
  <button type="button" id="btn-back-to-top">
    <!-- Back to top button -->
    个
  </button>
  <script src="/javascripts/toTopButton.js"></script>