<% layout("layouts/boilerplate") %>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    个
  </button>

  <!-- Include the About content -->
  <div class="container body-main-column">
    <%- include("./about.html") %>
  </div>

  <script src="/javascripts/toTopButton.js"></script>