<% layout("layouts/boilerplate") %>
  <article>
      <%- include("./about.html") %>
  </article>
  <button type="button" id="btn-back-to-top">
    <!-- Back to top button -->
    个
  </button>
  <script src="/javascripts/toTopButton.js"></script>