<h1>ABOUT&nbsp;<span class="chinese-heading">關於</span></h1>
<p>
    For new Chinese-language speakers seeking native materials to engage with,
    the volume of media available can make it difficult to find works that
    suit their interests and taste.
</p>
<p>
    This is exacerbated by the fact that original works that grapple with
    their creators' environment often fall foul of censors, or are deterred
    from being created in the first place.
</p>
<p>
    The effort to engage is worthwhile. There are a wealth of contemporary
    artists and thinkers who convey deep human and social insights with
    dignity, humour, and compassion.
</p>
<p>
    In the case of those whose form of self-expression is hazardous, their
    willingness to continue regardless makes their voices especially deserving
    of an audience.
</p>
<img src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336854/xuanzang/Liu_Heung_Shing_-_Wang_Keping_io50at.webp"
    alt="Liu Heung Shing's 1979 photo, Wang Keping demands freedom for art" />
<p class="caption">
    Wang Keping demands freedom for art 《王克平遊行要藝術自由》, 1979,
    <nobr>Liu Heung Shing 劉香成,</nobr> courtesy of the M+ Collection
</p>
<hr />
<h2>On the Name&nbsp;<span class="chinese-heading">誰爲玄奘</span></h2>
<p>
    This site is named in homage to Xuanzang 玄奘 (602 &mdash; 664), a
    Buddhist monk, scholar, and translator during the late Sui and early Tang
    dynasties, and major contributor to the development of Buddhism in East
    Asia.
</p>
<p>
    Dissatisfied with the fragmented translations of scripture available to
    him, Xuanzang defied a ban on foreign travel to visit India, so he could
    access the original texts.
</p>
<p>
    He returned to the Tang capital Chang'an 長安 &mdash; modern-day Xi'an 西安 &mdash;
    17 years later with hundreds of texts, and founded an institute to
    translate them.
</p>
<p>
    His account of his travels, Great Tang Records on the Western Regions
    《大唐西域記》 is comparable to Herodotus' Histories in its documentation
    of the people and cultures he encountered and heard tales of.
</p>
<p>
    Nine centuries after Xuanzang's death, his life inspired Wu Chengen's
    吳承恩 classic Ming dynasty novel Journey to the West 《西游記》.
</p>
<img src="https://res.cloudinary.com/duiqzld67/image/upload/v1682090537/xuanzang/Xuanzang_returned_from_India_Dunhuang_mural_Cave_103_High_Tang_period__712-765_ptesbc.jpg"
    alt="Detail of Xuanzang returning from India, from the Dunhuang mural, Cave 103" loading="lazy" />
<p class="caption">
    Xuanzang returned from India 《王克平遊行要藝術自由》, High Tang, Dunhuang
    mural, Cave 103 盛唐敦煌103窟
</p>
<p>
    In the present geopolitical climate, culture is overlooked in the
    dehumanising process of conflating states' actions with their citizens'
    attitudes.
</p>
<p>
    Media focus is often limited to politics (understandably) or vulgar
    incidents (regrettably), and few contemporary Chinese-language voices find
    an overseas audience through translation.
</p>
<p>
    Among the small but growing number of foreign Mandarin speakers &mdash; let
    alone the other dialects or languages of Chinese &mdash; engagement with native
    cultural output seems rarer still, perhaps due to intimidation by the
    perceived difficulty of the language, or perhaps to unfamiliarity and lack
    of exposure.
</p>
<p>
    The ambition of these pages is far humbler than Xuanzang's achievements,
    but I hope the content shared here will be useful to others in their
    effort to encounter a diverse range of voices in their own words.
</p>