<% layout("layouts/boilerplate") %>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>
  <!-- Include the About content -->
  <%- include("./about.html") %>
    <script src="/javascripts/toTopButton.js"></script>