<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- About -->
  <h1>ABOUT 關於</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      For new Chinese-language speakers seeking native materials to engage with,
      the volume of media available can make it difficult to find works that
      suit their interests and taste.
    </p>
    <p>
      This is exacerbated by the fact that original works that grapple with
      their creators' environment often fall foul of censors, or are deterred
      from being created in the first place.
    </p>
  </div>
  <div class="container-fluid col-sm-6 text-start mt-4">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682256030/xuanzang/Zhang_Huan_-_Family_Tree_yprmnn.webp"
      class="img-fluid"
      alt="Zhang Huan - Family Tree"
    />
  </div>
  <div class="container-fluid col-md-8 text-center mt-2">
    <p>
      <em>Family Tree 《家譜》</em>, 2000,
      <nobr>Zhang Huan 張洹,</nobr> courtesy of the M+ Sigg Collection
    </p>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      The effort to engage is worthwhile. There are a wealth of contemporary
      artists and thinkers who convey deep human and social insights with
      dignity, humour, and compassion.
    </p>
    <p>
      In the case of those whose form of self-expression is hazardous, their
      willingness to continue regardless makes their voices especially deserving
      of an audience.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
    <!-- About -->
  </div>
  <!-- Back to top button -->
  <button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>
  <!-- On the Name -->
  <div class="container-fluid col-md-8 text-center">
    <h3>On the Name 誰為玄奘</h3>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      This site is named in homage to Xuanzang 玄奘 (602 - 664), a Buddhist
      monk, scholar, and translator during the late Sui and early Tang
      dynasties, and major contributor to the development of Buddhism in East
      Asia.
    </p>
    <p>
      Dissatisfied with the fragmented translations of scripture available to
      him, Xuanzang defied a ban on foreign travel to visit India, so he could
      access the original texts.
    </p>
    <p>
      He returned to the Tang capital Chang'an 長安 (now Xi'an 西安) 17 years
      later with hundreds of texts, and founded an institute to translate them.
    </p>
    <p>
      His account of his travels, Great Tang Records on the Western Regions
      《大唐西域記》 is comparable to Herodotus' Histories in its documentation
      of the people and cultures he encountered and heard tales of.
    </p>
    <p>
      Nine centuries after Xuanzang's death, his life inspired Wu Chengen's
      吳承恩 classic Ming dynasty novel Journey to the West 《西游記》.
    </p>
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682090537/xuanzang/Xuanzang_returned_from_India_Dunhuang_mural_Cave_103_High_Tang_period__712-765_ptesbc.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p class="mt-3">
      In the present geopolitical climate, culture is often overlooked in the
      dehumanising process of conflating states' actions with their citizens'
      attitudes.
    </p>
    <p>
      Media focus is often limited to politics (understandably) or vulgar
      incidents (regrettably), and few contemporary Chinese-language voices find
      an overseas audience through translation.
    </p>
    <p>
      Among the small but growing number of foreign Mandarin speakers - let
      alone the other dialects or languages of Chinese - engagement with native
      cultural output seems rarer still, perhaps due to intimidation by the
      perceived difficulty of the language, or perhaps to unfamiliarity and lack
      of exposure.
    </p>
    <p>
      The ambition of these pages is far humbler than Xuanzang's achievements,
      but I hope the content shared here will be useful to others in their
      effort to encounter a diverse range of voices in their own words.
    </p>
    <!-- On the Name -->
  </div>
</div>
<script src="/javascripts/toTopButton.js"></script>
