<div id="Books">
    <h2>Get Books</h2>
    <p>
        In Chinese-speaking countries, you'll find independent bookstores and
        chains in any city.
    </p>
    <p>
        Overseas, large stores in international or student cities may stock a
        limited range &mdash; 
        <a href="https://www.foyles.co.uk/" target="_blank">Foyles</a> in London,
        for example, has a small selection of Chinese-language fiction and
        non-fiction, as well as study materials.
    </p>
    <p>
        In the majority of situations, online sellers such as those below offer
        convenient access to the widest selection.
    </p>
    <p class="text-box">
        If you're new to reading books in Chinese languages, here's a&nbsp;<a href="/sources/print">quick
            explainer</a>&nbsp;on text formats.
    </p>
</div>