<div id="Tools">
    <h2>Get Tools</h2>
    <p>
        <span id="name">XUANZANG</span> <span class="chinese-heading">玄奘</span> is oriented towards native
        Chinese-language content and places to
        get hold of it.
    </p>
    <p>
        But &mdash; if you're looking for study materials or guidance on how to improve
        your Chinese, below is a short list of apps and tools I've found useful
        over the years.
    </p>
    <p class="text-box">
        Some of the platforms below provide paid as well as free services. You may
        find the added content worth the price, but it's 100% possible to reach an
        advanced language ability without subscriptions.
    </p>
</div>