<h1>SOURCES&nbsp;<span class="chinese-heading">源</span></h1>
<p>
    A brief introduction to places to find books and podcasts, and some tools
    I've found useful for studying Mandarin over the years.
</p>
<p>
    Your usual bookstore, website or podcast app may already have what you're
    looking for, but for many resources you'll need to look
    elsewhere.
</p>
<p>
    The platforms introduced below are a good place to start, and generally
    have a wide selection of Chinese-language content available.
</p>
<p>
    Note that these are suggestions only &mdash; this site has no affiliation with any of these links, 
    so exercise the usual caution when visiting unfamiliar sites to make downloads or purchases.
</p>