<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h1>談身體一｜從古希臘身體美學重新認識自己身體的美</h1>
    </div>
    <div>
      我們在面對自己身體的時候，是否仍背負著文明裡的禁忌？我們如何面對跟自己一生在一起，最親密的這個身體？他是你最好的伴侶，可是我們幾乎一直忽略他……
    </div>
  </div>
  <div>
    <div class="container-fluid col-md-6 text-start my-4">
      <p>
        <em
          >我的慾望，我的愛裡都是他肉體細節的記憶。好像是充滿彈性的手肘、臂彎？好像是一根一根有千變萬化彷彿詩句的手指？是他的腰與腹部呼吸時，像那波濤洶湧起伏的感覺，推湧著我到意亂神迷的地獄或著天堂？是他的臀部與尾尻如此隱密複雜的肌理，好像永遠不可解開的絕望的密碼？慾望啊，究竟是什麼？使人不可自拔於期間？<br />—《慾愛書》寫給LysM</em
        >
      </p>
    </div>
    <!-- Back to top button -->
    <button
      type="button"
      class="btn btn-light btn-floating"
      id="btn-back-to-top"
    >
      <i class="fas fa-arrow-up-long"></i>
    </button>
    <div class="container-fluid col-md-8 text-start">
      <p>
        我們可以有機會談一下人的身體。有時候我跟朋友說：“我們是不是可以不要談人的身體，我們談自己的身體？”但我們說，談自己的身體意思是說，我們對我們自己的身體了解有多少？比如說我們會有習慣在鏡子裡看自己嘛。然後在鏡子裡看自己一個女性可能是畫眉毛、塗口紅、化妝時候看鏡子。一個男生可能是面對鏡子刮鬍子。
      </p>
      <p>
        這個不是我講的面對鏡子。是說你不做什麼可是你在鏡子裡凝視自己。他可能一年兩年他就發生很大的變化。那這個變化比如說在西方的話，有畫家尤其是17世紀荷蘭的一位畫家林布蘭，他是從大概現在我們在阿姆斯特丹博物館會看到24歲他畫了一張自畫像。很年輕、漂亮、意氣風發。那24歲的我們有沒有留下這樣的一張像？
      </p>
      <p>
        那後來林布蘭因為畫畫畫得很好發了財娶了妻子生了幾個孩子，大概他在30歲、40歲達到了生命的顛峰。我們可以看到他穿著華貴的衣服，那種非常優雅的士紳階級的畫像。
      </p>
      <p>
        我在2000年的時候到倫敦，倫敦為了要紀念千禧年--千禧年是說，人類很少有機會碰到後面有三個零的年代。就一千年上一次三個零就一千年，大概相當於中國的宋朝。那接下來就是2000，所以叫做千禧年的意義很特別是說：“我們竟然碰到了數字上後面有三個零。”所以每個國家大概都在想“我們要怎麼紀念千禧年，怎麼慶祝千禧年？”大概台北就放煙火啊之類的。
      </p>
      <p>
        可是在倫敦那個城市他說他們要紀念千禧年他們要用西方文明裡非常重要的一個事件就是林布蘭特的自畫像。所以他們從全世界博物館借了林布蘭特60張從年輕到老的自畫像。24歲的、30歲的、40歲的。
      </p>
      <p>
        林布蘭特後來因為第一任妻子比他早去世，他又娶了第二任妻子。然後他很特別是他小孩子都沒有養大，都是夭折。大概唯一養大的一個男孩叫Titus，大概到20歲左右也去世了。
        所以他最後兩個妻子都比他早走，孩子都比他早走，他就非常非常孤單。所以他大概在60歲左右，自畫像非常動人。
      </p>
      <p>
        你面對那個畫像的時候你簡直不能想像這個人還在鏡子裡看到蒼老、孤獨，覺得一生完全虛無的一個，一種對自己的凝視。好像在問說：“活著,這個身體到底有什麼意義？”所以那是我看過最感動我的一次展覽。
      </p>
      <p>
        可是也因為那個展覽我忽然就問我自己：“為什麼我在台北的故宮，我在北京的故宮我幾乎看不到人像畫？”我們的畫大概都是山水。千山萬水。不知道大家記不記得宋元的山水裡人的畫都好小好小一點點，你不用放大鏡幾乎都找不到。
      </p>
      <p>
        那在千山萬水的被大家稱讚說意境很高的這些畫裡，為什麼缺乏了人？為什麼缺少了像林布蘭特這種從年輕到老對自己的一種身體的凝視？
      </p>
      <p>
        那我說的身體還不能想像說在西方，像希臘它是全裸的身體，完全赤裸的身體。那這種雕像如果在中國的藝術上出現，會如何被看待？也許大部分的人都覺得大逆不道。
      </p>
      <p>
        那是不是到今天，我們在面對自己身體的時候，我們還背負著一個文明裡面的禁忌，所以，我們不能夠認識自己的身體？
        我們在浴室洗完澡我們大概也不太敢面對著鏡子好好地凝視自己，跟自己一生在一起的這個最親密的身體。
        我想全世界最親密的父母親、兒女、配偶，都比不上你自己的這個身體因為它跟你在一起最久。它其實你最好的伴侶，可是我們幾乎一直忽略它。
      </p>
      <p>
        前一陣子有一個朋友某一個年紀，然後常常脖子僵硬頭痛。他說“哎呀，活到60歲才發現有一個頭在脖子上。”我聽他講這句話我覺得，好奇怪的一句話。可是的確是，我們大概是到身體某一個地方痛了、病了，我們才發現它存在。
      </p>
      <p>
        那能不能用另外一個方法感覺這個身體？比如在2021年的東京奧運，我跟很多人一起看轉播。其實大概就，你可以感覺到島嶼大眾的一種快樂。那個快樂是我們看到好漂亮的身體。不管是戴資穎的身體，不管是李洋、王齊麟的身體，不管是這個郭婞淳的身體。你覺得裡面有一種美，可是大家不要忘記那個身體的美，它的傳統是希臘。奧林匹克這個詞是來自希臘的。
      </p>
      <p>
        公元前776年那個運動場距離現兩千多年前的運動場，在奧林匹亞已經被發現了。當時他們每四年聚在一起，做丟標槍、擲鐵餅、舉重、跳高、賽跑各項的競技。而他們在比賽的過程當中運動員全部是全身赤裸。
      </p>
      <p>
        所以雕刻家有機會看到在運動當中身體的肌肉、骨骼的變化，像花一樣地綻放。所以希臘的雕刻全部都是運動員的身體。後來被稱為阿波羅、維納斯的，都是附加了一個神話。事實上他們就是身體最完美的典範。
      </p>
      <p>
        希臘人認為在運動當中非常清楚地看到體能最好的時候，它的高峰是在18歲到21歲。21歲以後身體的體能就在下降。我第一次讀到這個訊息就是這樣的雕像叫kouros，完美無缺的人體叫kouros。我都快哭出來因為那時候我已經過了21歲。
      </p>
      <p>
        你就開始發現說，你在身體體能最完美的時候你根本沒有認識自己的身體。所以有時候我們在奧林匹克運動會看到這個運動員，他如果今年沒有發展到他體能的極限，他會大哭因為他不知道四年以後他身體是不是已經在下降。
      </p>
      <p>
        所以因此我覺得，我們注意到希臘給了全世界一個了不起的禮物就是愛你的身體、讚美你的身體。你的身體在最完美的時候是被神所祝福的。
      </p>
      <p>
        那如果對比起來，我們看到埃及也有身體。大概在更早的，比希臘更早的年代當中尼羅河流域它也雕刻人體。可它人體比較呆板，比較沒有運動的變化。大概都是固定的一個姿態。
      </p>
      <p>
        那到希臘人開始發現，原來平均放在兩個腳上的身體重量，可以落在一個腳上。所以出現了藝術史上說，有一點像重心偏移的那個動作。那個動作就是我們今天在羅浮宮看到像維納斯女神的站姿，就是她一個腳方承擔了身體全部的重量。所以她另外一個腳有點在休息的狀態，所以出現了身體非常美的脊椎的一個S型的彎曲。那這個幾乎現在變成全世界的身體美學的最高典範，如果你學美術，你畫石膏像，全部都是希臘。
      </p>
      <p>
        你也可以看到好萊塢的明星他拍照，一站他的姿態就是希臘。就希臘在指導全世界的身體美學。如果你到健身房，那個健身房取名大概都是用希臘的名詞。
      </p>
      <p>
        那有時候跟朋友說：“能不能把那個健身房名字改成孔子健身房？”他就說：“那一定倒閉的。”
      </p>
      <p>
        那，孔子不一定身體不健康。可是，為什麼我們在自己的文化裡好像找不到一個身體的歌頌？我們好像缺了這一塊。所以我自己在我的書裡說：中國的人像缺席是一個嚴重的問題。一直到明清人像都在缺席。一直到近代可能還是人像缺席。
      </p>
      <p>
        當我在東海大學做美術系的系主任的時候，我找不到模特。教育部規定仿效西方的教育制度，學美術的學生都要做人體素描。每個禮拜要有八個小時人體素描。那就是畫裸體模特，可是我找不到。後來輾轉地找到一位林小姐。我到現不知道她的名字。然後，我們要寄薪水給她、重點費給她，要透過她的朋友轉--轉給她。她不讓我們知道她真實的姓名、她來自哪裡。
      </p>
      <p>
        我們知道那是80年代，1980年代，台灣對身體的禁忌還是這麼嚴重。那，男性模特更不要講，更找不到。那，我在課堂上有一次講到這件事，後來有一個是東海橄欖球隊的隊員，身體非常的強壯，他就舉手說“老師我可不可以來試試看我來做男模特？”
      </p>
      <p>
        那時後大概是東海美術系裡，我記得所有的這些美術系的學生在畫畫的過程裡最快樂的一個階段，因為這個模特他是意識到，這麼年輕，20歲剛剛出頭，為什麼不能夠把最美的身體展露給自己或展露給他人？
      </p>
      <p>
        所以他會問老師說下個禮拜要畫哪裡？因為下個禮拜如果老師要畫背部的肌肉，他就會回去做重量訓練加強他背部的肌肉。
        所以因此我到現在都會去看學生那個時候畫的這個男模特的畫作非常非常的感動。
      </p>
      <p>所以我的意思說，人體的繪畫是模特跟畫家一起創造出來的。</p>
      <p>
        畢加索畫了好多非常動人的人體，完全自在的、袒露身體的那種像花一樣開放的那種身體。可是那是在我們的文化裡一直到現在我都看不到的。雖然我們有美術系，雖然我們也學希臘雕像，雖然我們也畫人體模特，可是如果你心裡面有一個結，如果你對身體有這麼多的恐懼、害怕，把自己捆綁起來，你不可能畫出非常動人的身體。
      </p>
      <p>
        所以，我常常用一個字叫做說1986年台灣政治解嚴，可是到2021年我們的身體可能還沒有解嚴。身體的解嚴是敢於面對自己的身體。
      </p>
      <p>
        所以這一次看2021的東京奧運比較快樂是因為我覺得那些身體是不是透過轉播讓這個島嶼上的人意識到說，身體挑戰極限可以這麼美。可是也許大家發現從1960年代的楊傳廣到現在，在國際奧運裡面，大放光彩的身體及大部分是台灣島嶼上原居民的身體。
      </p>
      <p>
        我不知道這裡面有沒有一個東西可以思考就是，為什麼我們的故宮沒有人像畫，不要說裸體畫，連人穿著衣服的人像畫都非常非常少。為什麼我們的身體總是覺得這麼拘謹，這麼保守？
      </p>
      <p>
        那，我自己覺得身體並不是一個天生下來就是這個樣子。希臘人的身體生下來，他是鼓勵赤裸在運動場上奔跑的。所以他對自己的骨骼、肌肉全部都了解，對自己速度的極限、跳高的極限、跳遠的極限，他都在挑戰。
      </p>
      <p>
        而我們的身體從小如果有一個東西叫儒家，他連笑都不能隨便笑，他連哭也不能隨便哭因為儒家認為喜怒愛樂不要隨便讓人家看到。所以最後身體變成一個沒有表情的身體。所以我們可能不知道我們的身體其實是在戒嚴狀態。所以因此我覺得這樣的一個功課是鼓勵大家有一天也許洗完澡面對鏡子，好好地凝視一下自己。
      </p>
      <p>
        所以我記得在高雄帶過一個畫班，都是不會畫畫的朋友，他們很愛畫畫，可不敢畫畫。那，我第一個功課給他們的作業就是回去在鏡子裡畫一張自畫像。很重要的是，不准畫照片。因為照片其實是一個平面的東西。
      </p>
      <p>
        你在鏡子裡看自己嘗試用鉛筆、原子筆、鋼筆、毛筆都沒有關係，把自己記錄下來，那個過程就是對自己凝視。裡面有一個部分是在思考，我是誰？世界上有我或沒有我有什麼差別？
      </p>
      <p>
        那我記得當時在畫班裡面有一位朋友是比較重度的殘障，雙腿殘比較就是長期坐在輪椅上。她就說“老師我不能做這個作業。”我問她為什麼，她說“我家沒有鏡子，我從小，小我媽逼我不看我自己的身體。”我說好，這個完全是自由的，所以當然每個人都有自己的關卡，所以可以不要做這個功課。
      </p>
      <p>
        可她隔了一個月以後我們討論每一個人的自畫像討論完，有一天她忽然說“老師我畫了自畫像，你們要不要看？”那大家都有一點緊張不知道她怎麼畫自畫像。
      </p>
      <p>
        她拿出來時候，我記得好多現場好多人都哭了，因為她畫了一個全裸著在輪椅上的身體。然後我們第一次看到平常掩蓋在她裙子或褲子底下的那個腿，有點像樹根一樣有曲折。
      </p>
      <p>
        可是很奇怪，做過這個功課之後，她完全健康了。她後來常常穿短褲，她也很敢在別人面前讓別人看她肢體殘缺的部分。那就是她自己。
      </p>
      <p>
        所以我想自畫像的重要不是去虛假地做唯美。自畫像的重要的是回來認識自己，回來做自己。所有真實的自己大概都是最美的自己。
      </p>
    </div>
    <div class="container justify-content-center">
      <a class="btn text-white" href="" role="button">上</a>
      <a class="btn text-white" href="/voice/episodes/cx_02" role="button"
        >中</a
      >
      <a class="btn text-white" href="/voice/episodes/cx_03" role="button"
        >下</a
      >
      <!-- Dividing line -->
      <hr class="hr my-4" />
    </div>
  </div>
</div>
<script src="/javascripts/toTopButton.js"></script>
