<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h1>談身體三｜印度的身體哲學</h1>
    </div>
    <div>充滿慾望的、躁動的身體，我們如何慢慢認識自己，真正做到身體解嚴……</div>
  </div>
  <div class="container-fluid col-md-6 text-start my-4">
    <p>
      <em
        >在分開的時刻，我才有機會深刻地感覺你存在的意義。在你物理性存在的形象破碎而且消失之後，我才有可能在那破碎與消失的背後，重新一點一點建立起愛你的真正的意義。<br />—《慾愛書》寫給LysM</em
      >
    </p>
  </div>
  <!-- Back to top button -->
  <button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>
  <div class="container-fluid col-md-8 text-start">
    <p>
      我想，在台灣其實大家對希臘比較熟，對印度比較陌生。如果有機會你去了解印度雕像裡的身體你會嚇一跳，尤其是女性的身體。維納斯的身體其實如果放到印度的女性身體旁邊，完全不夠看。
    </p>
    <p>
      印度女性的身體的嫵媚--我用這兩個字--嫵媚就是，後來有人翻譯成中文叫「曼妙」，就她是一直在舞蹈的。
      我不知道大家有沒有印象，印度的女性最美是腰部，所以她圍的下面的紗麗跟她胸部的一個遮掩，她中間腰不是中空的。
    </p>
    <p>
      現在在印度你還是可以看到就是，那個女性身體像蛇一樣的腰。而這個文化影響很大，因為影響到泰國，影響到柬埔寨，影響到印尼。所有印度的這個南亞的這個文化，大家如果看過他們的舞蹈他們的手指是可以彎曲到讓你跌破眼鏡。
    </p>
    <p>
      就是那個身體是柔軟的。就在希臘發展出一種平衡的身體美的同時，印度發展出完全柔軟、柔弱無骨好像沒有骨頭一樣的身體。那這個東西，希臘發展出了健身房，我們不要忘記印度發展出了瑜伽。
    </p>
    <p>
      瑜伽就是跟希臘完全不同的對身體的訓練。它練的是柔軟，是伸展。所以很多我的朋友在做重量訓練健身房做得太嚴重以後，他們的肌肉其實變成他們身體的傷害。
    </p>
    <p>
      我聽過一個中醫的理論就是說，“因為你一直練重量訓練練外面的肌肉的那個強大，最後氣脈都斷了。”那當然「氣脈」，希臘人不太講這個因為他們講的是看得到的肌肉。
    </p>
    <p>
      可是印度也是在講氣脈這個東西。就是我們知道瑜伽是呼吸，所以我在恆河的瓦拉納西岸邊，我看到很多人在做拜日式的瑜伽。就是金鷄獨立一個腳站立，然後你的右手拉住你的右腳，一直往上拉。
    </p>
    <p>
      我們今天要右手碰到右腳，反方向拉到右腳幾乎是很難的動作，可他們幾乎就很輕易地拉到右腳，而慢慢地把右腳越拉越高越拉，最後那個右腳是拉到頭頂上的。
    </p>
    <p>
      而其中我在岸邊觀察，在日出的時候，對著那個太陽去膜拜的這些拜日式的瑜伽，最厲害的是那個老人。他可以在好久好久，太陽一直慢慢從恆河上升起，而他身體完全像一把弓一樣，一個反方向的一個柔軟的姿態。
    </p>
    <p>
      那這個就跟希臘非常不一樣，因為它不是在奧林匹克運動會裡跟人家比賽跑得快、跳得高、跳得遠的身體。他是跟自己比賽呼吸的安靜的身體。他可以站在那邊長達兩個小時完全不動，就是讓自己的呼吸越來越常。就是吐、納。
    </p>
    <p>
      其實中國受到印度的影響，所以我們的太極啊這類大概都有印度裡面的呼吸跟吐納。可是印度基本上，他們也很多是在很赤裸的狀況裡做瑜伽。所以你可以看到那個身體，除了骨骼的結構以外，那個肌肉依照的呼吸的節拍節奏變化出另外一種跟希臘完全不同的美。
    </p>
    <p>
      這個時候我覺得大家已經意識到希臘式的健身房慢慢出現了某些問題。所以這幾年我去倫敦、去紐約、去巴黎，我發現很多用希臘命名的健身房陸續關門，或者陸續改變成瑜伽式的訓練。
    </p>
    <p>
      對於吠陀經的了解，吠陀經的了解，對於印度教裡面的這種舞蹈或者手的姿勢、腳的動作的了解，就是瑜伽跟希臘的運動產生了一種平衡。因為我們知道短跑一百米是分秒比爭，是跟別人的競爭，瑜伽是跟自己的競爭。
    </p>
    <p>
      我們除了一個向外征服的世界，希臘總是強調向外征服的世界，所以希臘歷史上最偉大的人大概就是亞歷山大大帝。他可以在這麼年輕的時候涉略到天文、地理、詩歌、運動，成為一個完美的人。
    </p>
    <p>
      我們看到亞歷山大雕像都美得不得了。達到非洲、佔領埃及，然後指著那個尼羅河的三角洲說這邊要有一個由我的名字命名的亞歷山大城。然後他都來不及看到城市他又繼續去打印度。
    </p>
    <p>
      最後33歲死在印度。我們在亞歷山大身上看到希臘文明的一種顛峰，就是，很年輕就完--完成自己了。他們有一種，我們講過kouros的那個歌頌，就是18歲到21歲。他不要看到自己的衰老。
    </p>
    <p>
      可是印度不是。印度的文化找到另外一個--如果亞歷山大一直向外征服的話，印度是發現外面是一個帝國，你的內心也是一個帝國。你向內征服同樣困難。
    </p>
    <p>那如何去慢慢地理解自己的身體，跟自己的身體對話，去征服自己的身體？</p>
    <p>
      征服自己的身體可能比征服外面的帝國還要困難。充滿了慾望的，充滿了躁動的、充滿了焦慮的身體，如何最後能夠朝--找到跟自己相處的一個最好的一個方式？
    </p>
    <p>
      我想這是瑜伽的哲學。所以我還是要說在希臘跟印度之間，這個華人的身體怎麼辦？現在在台灣其實大部人走向希臘的健身房。那也有部分人慢慢走向瑜伽。
    </p>
    <p>
      可是我真的覺得，我看到最美的身體，在這個島嶼上都是在部落裡。每次到排灣、到布農、到卡大地部、知本，看到那些像桑布伊他們的歌手裡，他們是跟舞蹈一起的，而那個身體真是漂亮。而這個身體是我覺得島嶼的海洋跟高山祝福的。
    </p>
    <p>
      那所以，基本上我覺得島嶼的華人、移民的漢族，其實應該回歸到這個原居民的部落文化裡，重新去認識自己的身體。像郭婞淳的身體、或者像楊傳廣的身體。就是，他們曾經不斷地用他們的身體讓台灣在國際上被看到。
    </p>
    <p>
      那，我們是不是能夠用那個來解除儒家在我們身體上的符咒，真正做到身體解嚴？
    </p>
  </div>
  <div class="container justify-content-center">
    <a class="btn text-white" href="/voice/episodes/cx_01" role="button">上</a>
    <a class="btn text-white" href="/voice/episodes/cx_02" role="button">中</a>
    <a class="btn text-white" href="" role="button">下</a>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
</div>
<script src="/javascripts/toTopButton.js"></script>
