<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="container-fluid col-md-8 text-center">
    <div>
      <h1>談身體二｜華人身體形象的缺席</h1>
    </div>
    <div>人的身體擁有各種可能性，華人信仰的中庸或許變成一種壓抑……</div>
  </div>
  <div class="container-fluid col-md-6 text-start my-4">
    <p>
      <em>
        我不要我們的愛成為墮落和停滯的藉口。因此我承諾給你的愛，是在分離的時刻，藉著對你的一切記憶，建立起自己對完美、健康、開朗、善良與智慧更大的信仰。在我們的身體變成許多破裂的碎片之後，LysM，我們要在幾乎無法辨認的碎片中重新尋找對方，同時也尋找自己。<br />—《慾愛書》寫給LysM
      </em>
    </p>
  </div>
  <!-- Back to top button -->
  <button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>
  <div class="container-fluid col-md-8 text-start">
    <p>
      為什麼我們走到故宮博物院，看到這麼多的藝術品，然後很少看到人像？我常常丟這個問題給朋友：“可是你為什麼走到羅浮宮，你走進羅浮宮，走進大英博物館，你看到的幾乎全是人像，而且是赤裸裸的人像？”我想這是一個多麼大的文化上的差距。所以埃及、希臘、印度、中國，如果我們將四大古文明的話，好像唯獨中國，人像是缺席的。那這個人像的缺席會不會在今天當它走上世界文明的時候，其實是一個嚴重的缺陷？因此我們會覺得華人的文化裡面，好像在最後對於自己身體的愛恨這麼不敢表達。
    </p>
    <p>
      我記得大概在1970年待在巴黎讀書。法國的朋友--年輕人--他們非常敢表達自己：喜怒、愛樂、行於色。可是我從小讀到儒家文化是說喜怒、愛樂、不行於色，不可以隨便表現出來。
    </p>
    <p>
      我們講的中庸到最後變成一種，變成一種壓抑。很多愛很多恨，我們好像不敢傳達出來。那當然如果到了年紀大一點我覺得比較有修養，也就罷了，可是如果你是青少年，你十幾歲，你剛發育，你的愛恨為什麼不能夠直接地說出來？對這個世界的愛，或對這個世界的憤怒，為什麼身體不能表達出來？
    </p>
    <p>
      所以我在歐洲，在美國，在紐約、倫敦、巴黎這種城市，我好羨慕那些青少年的文化。他們玩滑板，直排輪鞋，他們的滑板都是自己設計自己去滑的。然後你可以在一個廣場裡看到他們如何用他的的身體去挑戰那個滑板。各種各種的變化。然後你在旁邊即使是一個路人，你都忍不住要停下來，在他挑戰極限的時候鼓掌給他很多的鼓勵。那個是我在歐美的文化裡看到最美的城市的青少年文化。我回到台灣以後一直覺得好像找不到這樣的空間。
    </p>
    <p>
      有一陣子龍應台做台北文化局長，我還跟他講說：可不可以有一些青少年的空間出來就讓他們飆車，就讓他們玩滑板？因為那個年齡就是要試探自己身體的極限的年齡。那常常這些孩子被老師罵過動，可是那個年齡不動你還要做什麼？
    </p>
    <p>
      那我，我在青少年的時代因為我們生活的環境裡比較有大自然，我們整天都在爬樹。有時候也從樹上摔下來。可是你慢慢也知道你身體怎麼樣在爬樹的過程裡找到一種平衡，所以他有一種靈活。可是如果你是在一個狹小的公寓長大，一直沒有機會動，沒有機會去跑，去跳，去試看身體的各種可能，他慢慢慢就越來越萎縮，然後變成一種僵化的狀態。
    </p>
    <p>
      那我想故宮博物館是不是並不是沒有人像，有時候也有，可是你看到那些主現象好像長得都一個樣子，沒有表情，然後坐在那個地方端端正正。端端正正只是人的身體的一種表情。人的身體有是各種可能性的。所以，在希臘的雕像裡你就看到身體有各種可能。
    </p>
    <p>
      我最感動的像伊卡洛斯，那十五歲然後帶著用蜜蠟連起來的羽毛翅膀要飛起來的少年的身體。他爸爸一直跟他說“你不可以飛高，不可能飛太高，因為你太靠近陽光你的臘融化，你的羽毛就會散落你會摔死。”他最後摔死了。
    </p>
    <p>
      可是伊卡洛斯的故事是希臘仙話裡讓所有的年輕人都震動的一個故事，因為年輕就是要飛起來。所以，我看到很多年輕人去玩高空彈跳，我都覺得好羨慕，因為我的年齡根本沒有這個東西。我在年輕時候還沒有這樣的東西，或者有家裡也不讓你去觸碰，覺得那是危險。可是我們不要忘記所有身體難度的挑戰都有危險性。
    </p>
    <p>
      如果你要避免危險你的身體就一定是被捆綁的。一定就不是一個綻放的一個身體。所以希臘的身體給了我們好多的愛恨，各種形式的愛恨。你可以看到納西瑟斯的身體，一個美得不得了的少年。然後他有一天在水裡面看到自己的倒影，覺得世界上怎麼會有這麼美的人？他後來就變成了水邊的一株水仙花。
    </p>
    <p>
      然後愛上他的一個女孩叫厄科。那這麼美的一個男孩子他永遠不會覺得身邊有一個女孩子愛他，所以他一直忽略這個女性的愛。所以厄科後來就很憂鬱，很憂傷，一直退退到山洞裡面去。你對著山洞講話，你只聽到厄科的迴聲。所以所有這些希臘故事都在講身體。眷戀自己的身體，躲到陰暗角落的身體。身體是有各種可能的。各種各種變化的身體。
    </p>
    <p>
      可是大家不要忘記，希臘身體還不是唯一的身體。我覺得希臘影響到英國、法國、美國，所以所有的健身房都用希臘命名。練習肌肉然後我們今天美的表現就是希臘雕像。可是在另外一個古文明裡，你可以看到一個完全不同對身體的解讀，就是印度。我們應該去認識一下印度這個古文明，他們怎麼對待身體。
    </p>
  </div>
  <div class="container justify-content-center">
    <a class="btn text-white" href="/voice/episodes/cx_01" role="button">上</a>
    <a class="btn text-white" href="" role="button">中</a>
    <a class="btn text-white" href="/voice/episodes/cx_03" role="button">下</a>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
</div>
<script src="/javascripts/toTopButton.js"></script>
