<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- Introduction -->
  <h1>VOICE&nbsp;<span class="chinese-heading">嗓</span></h1>
  <div class="container-fluid col-md-8">
    <p>
      Podcasts offer immediate access to native content on almost any subject
      imaginable, and a broader range of perspectives than offered via official
      media channels.
    </p>
    <p>
      The series listed here include several that share the personal stories and
      perspectives of ordinary people, or seek the views of specialists in
      various fields, making them good sources for insight into discussions
      across the Sinophone world.
    </p>
    <p>
      Others focus on pop culture scenes such as the art and music worlds, or
      delve into literature and philosophy.
    </p>
    <p>
      Beyond those listed below, simple search terms for your area of interest -
      such as 電影 or 新聞 - will likely return several options on any major
      podcast platform.
    </p>
    <p id="text-box">
      See&nbsp;<a href="/sources">SOURCES</a>&nbsp;for tips if you're having
      trouble tracking down these or other podcasts.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Introduction -->
</div>
<!-- Pagelinks -->
<div class="container">
  <div class="container-fluid col-md-8">
    <div class="row gap-3" id="podcast-thumbs">
      <div class="col-md-auto" id="podcast-thumb">
        <a href="#Amazing"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1683447940/xuanzang/voice/Amazingpodcast_dgkze1.png"
            class="img-fluid"
            alt="Amazing Podcast"
        /></a>
      </div>
      <div class="col-md-auto" id="podcast-thumb">
        <a href="#Blah Art"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516235/xuanzang/voice/yishudaodao_npctty.jpg"
            class="img-fluid"
            alt="Blah Art"
        /></a>
      </div>
      <div class="col-md-auto" id="podcast-thumb">
        <a href="#Bu Mingbai"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336370/xuanzang/voice/bumingbai_dap0tt.jpg"
            class="img-fluid"
            alt="Bu Mingbai"
        /></a>
      </div>
      <div class="col-md-auto" id="podcast-thumb">
        <a href="#Xishuo"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/xishuohongloumeng_ak548m.jpg"
            class="img-fluid"
            alt="Xishuo Hong Lou Meng"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Dagong Tan"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/dagongtan_wem58n.jpg"
            class="img-fluid"
            alt="Dagong Tan"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Eye on East Asia"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1684418392/xuanzang/voice/dongya_swprkn.webp"
            class="img-fluid"
            alt="Eye on East Asia"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Gushi FM"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336040/xuanzang/voice/gushifm_itsn1x.jpg"
            class="img-fluid"
            alt="Gushi FM"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Intro"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516235/xuanzang/voice/yinqiu_tu6n9q.jpg"
            class="img-fluid"
            alt="Intro"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Left-Right"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682683845/xuanzang/voice/left-right_jrfmsa.png"
            class="img-fluid"
            alt="Left-Right"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Mei De Chen Si"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/meidechensi_rb3qmu.jpg"
            class="img-fluid"
            alt="Mei De Chen Si"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Midnight Talks"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/daneimitan_g6sdxk.jpg"
            class="img-fluid"
            alt="Midnight Talks"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Salon des Refuses"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1683447672/xuanzang/voice/Salon-des-Refuses_jmmj8k.png"
            class="img-fluid"
            alt="Salon des Refuses"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Stovol"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1684332037/xuanzang/voice/stovol_ebwu8z.webp"
            class="img-fluid"
            alt="Stochastic Volatility"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Talking Literature"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682683844/xuanzang/voice/tiaodao_zy606i.png"
            class="img-fluid"
            alt="Talking Literature"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#YiXi"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1683205476/xuanzang/voice/yixi_ftsuox.jpg"
            class="img-fluid"
            alt="YiXi"
        /></a>
      </div>
    </div>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Pagelinks -->
</div>
<!-- Back to top button -->
<button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
  <i class="fas fa-arrow-up-long"></i>
</button>
<!-- Amazing -->
<div class="container" id="Amazing">
  <div class="container-fluid col-md-8">
    <h2>Amazing&nbsp;<span class="chinese-heading">驚奇</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1683447940/xuanzang/voice/Amazingpodcast_dgkze1.png"
      class="img-fluid"
      alt="Amazing Podcast"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Begun in September 2020, Amazing <nobr>驚奇</nobr> is a science-fiction
      podcast from the
      <a href="https://justpodmedia.com/" target="_blank">JustPod</a> digital
      media platform.
    </p>
    <p>
      The hosts discuss the fictional worlds of authors like Philip K Dick,
      William Gibson, and Liu Cixin 劉慈欣, and explore themes such as the
      differing traits of Chinese or Japanese <nobr>sci-fi</nobr>.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《克蘇魯神話中的“不可名狀的恐怖”到底是什麽？》</li>
      <li>《斯坦尼斯拉夫·萊姆：站在科學和哲學的邊界上》</li>
      <li>《中式科幻在1912：從暗黑烏托邦到鴛鴦蝴蝶派》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Amazing -->
</div>
<!-- Blah Art -->
<div class="container" id="Blah Art">
  <div class="container-fluid col-md-8">
    <h2>Blah Art&nbsp;<span class="chinese-heading">藝術叨叨</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516235/xuanzang/voice/yishudaodao_npctty.jpg"
      class="img-fluid"
      alt="Blah Art"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Part of the
      <a href="https://justpodmedia.com/" target="_blank">JustPod</a> digital
      media family, Blah Art <nobr>藝術叨叨</nobr> is the creation of Monie and
      Lanyi 蘭奕, former students of museum and art gallery education at
      University College London.
    </p>
    <p>
      The hosts discuss contemporary art, and introduce exhibitions they visit
      over the course of the series. Other episodes focus on individual artists
      and feature interviews with people from art and museum circles.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《弗朗西斯·培根：不是那個“培根”》</li>
      <li>《蔡國强：以最浪漫的方式使用火藥》</li>
      <li>《香港藝術速游》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Blah Art -->
</div>
<!-- Bu Mingbai -->
<div class="container" id="Bu Mingbai">
  <div class="container-fluid col-md-8">
    <h2>Bu Mingbai&nbsp;<span class="chinese-heading">不明白</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336370/xuanzang/voice/bumingbai_dap0tt.jpg"
      class="img-fluid"
      alt="Bu Mingbai"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Begun in mid-2022,
      <a href="https://www.bumingbai.net/" target="_blank">Bu Mingbai</a>
      <nobr>不明白</nobr> is the personal project of a group of professional
      journalists, hosted by New York Times reporter Yuan Li <nobr>袁莉</nobr>.
    </p>
    <p>
      In the words of its creators, the Bu Mingbai podcast "hopes to share
      interesting conversations with a global Chinese-language audience, to
      shine a little light and warmth during this dark and chaotic era."
    </p>
    <p>
      Yuan Li interviews guests from a range of professional and social
      backgrounds, and also asks each guest for their book recommendations,
      making it a good source for reading suggestions. Episodes last around an
      hour each.
    </p>
    <p>
      One entry in a slightly different format is episode 12, "Twists and Turns
      in the Chinese Nation's World Entrance"
      《傳統中國人認識世界的曲折和挫折》, in which Fudan University historian Ge
      Zhaoguang 葛兆光 delivers a seminar on the title subject.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《那些年輕的抗議者：我們爲什麽要上街》</li>
      <li>《從ChatGPT看中美人工智能競爭》</li>
      <li>《俄烏戰爭一周年，台灣學到了什麽？》</li>
      <li>《中國古代的女改革家》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Bu Mingbai -->
</div>
<!-- Xishuo -->
<div class="container" id="Xishuo">
  <div class="container-fluid col-md-8">
    <h2>
      Chiang Hsun on Dream of the Red Chamber <br /><span
        class="chinese-heading"
        >蔣勛細説紅樓夢</span
      >
    </h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/xishuohongloumeng_ak548m.jpg"
      class="img-fluid"
      alt="Xishuo Hong Lou Meng"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      With this 160-part series, Chiang Hsun <nobr>蔣勳</nobr> (intro
      <a href="/ink#Chiang%20Hsun">here</a>) provides a detailed guide through
      Dream of the Red Chamber <nobr>《紅樓夢》,</nobr> the classic Qing dynasty
      novel by Cao Xueqin <nobr>曹雪芹.</nobr>
    </p>
    <p>
      A former professor of fine arts at Taiwan's Tunghai University 東海大學,
      Chiang Hsun proceeds through the novel from cover to cover, offering rich
      explanations of the cultural and historical context of the narrative,
      bringing it to life in vivid detail. The result is comparable to the late
      Frank Delaney's analysis of James Joyce's Ulysses in his
      <a href="https://blog.frankdelaney.com/re-joyce/" target="_blank"
        >Re: Joyce podcast</a
      >, which sadly remains incomplete due to his passing in 2017.
    </p>
    <p>
      Chiang Hsun is an engaging speaker with deep knowledge of the subjects he
      covers here and elsewhere, and is enjoyable to listen to in his own right.
    </p>
    <p>
      Classical Chinese can be difficult to grasp even for native
      Chinese-language speakers today. This podcast offers a good alternative to
      reading the novel directly, and would be a useful companion for non-native
      speakers interested in taking it on.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Xishuo -->
</div>
<!-- Dagong Tan -->
<div class="container" id="Dagong Tan">
  <div class="container-fluid col-md-8">
    <h2>Dagong Tan&nbsp;<span class="chinese-heading">打工談</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/dagongtan_wem58n.jpg"
      class="img-fluid"
      alt="Dagong Tan"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Launched in 2020, the hosts of Dagong Tan <nobr>打工談</nobr> ("Labour
      Talks") spend time with manual labourers and people from other
      working-class professions, to discuss how they make their living, their
      perspective on their position in society, and obtacles they face in their
      work and personal lives.
    </p>
    <p>
      The hosts show genuine interest in getting to know their guests and
      portray their experiences with dignity, in defiance of the prevailing
      social mood towards the so-called "low-end population" 低端人口
      responsible for the PRC's prosperity.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《我在深圳送快遞：日行三萬步，罰款上千元》</li>
      <li>《七種生活：工作自由在哪裏？》</li>
      <li>《一個農民工思考勞工問題是再正常不過的事》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Dagong Tan -->
</div>
<!-- Eye on East Asia -->
<div class="container" id="Eye on East Asia">
  <div class="container-fluid col-md-8">
    <h2>
      Eye on East Asia&nbsp;<span class="chinese-heading">東亞觀察局</span>
    </h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1684418392/xuanzang/voice/dongya_swprkn.webp"
      class="img-fluid"
      alt="Eye on East Asia"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Eye on East Asia 東亞觀察局 is a podcast about the politics, culture and
      history of China, Japan and Korea, and the relationships between them.
    </p>
    <p>
      The hosts are journalists Fan Yiru 梵一如, Shao Qingqing 少青青 and Quan
      Xiaoxing 權小星, who discuss their perspectives of developments affecting
      the three countries, and the nuances of their interactions.
    </p>
    <p>
      For those interested in the politics and culture of the region, this
      series is a refreshing source of insight that goes beyond the more typical
      English-language media focal points.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《日韓“泡沫時代”的光與影》</li>
      <li>《天皇的特殊性和其在東亞的存在感》</li>
      <li>《奈良的“兩聲槍響”讓日本加速右轉？》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Eye on East Asia -->
</div>
<!-- Gushi FM -->
<div class="container" id="Gushi FM">
  <div class="container-fluid col-md-8">
    <h2>Gushi FM&nbsp;<span class="chinese-heading">故事FM</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336040/xuanzang/voice/gushifm_itsn1x.jpg"
      class="img-fluid"
      alt="Gushi FM"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Created by journalist Kou Aizhe <nobr>寇愛哲</nobr> in 2017,
      <a
        href="https://www.nytimes.com/2019/05/12/world/asia/china-podcast-gushi-fm.html"
        target="_blank"
        >Gushi FM</a
      >
      故事FM is a podcast series that relays personal narratives from ordinary
      people in their own words. With its 700th episode released in early 2023,
      it is an incredible resource that provides a platform for voices across
      the spectrum of human experience.
    </p>
    <p>
      Recorded as interviews, the podcast team's questions are largely edited
      out to leave an uninterrupted monologue told by each guest. Most episodes
      run from 20 to 40 minutes.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《我所知道的催債那些事兒》</li>
      <li>《一個關於衰老、死亡、與生命尊嚴的故事》</li>
      <li>《我是毒販的女兒》</li>
      <li>《創業經：如何科學養豬》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Gushi FM -->
</div>
<!-- Intro -->
<div class="container" id="Intro">
  <div class="container-fluid col-md-8">
    <h2>Intro&nbsp;<span class="chinese-heading">音球</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516235/xuanzang/voice/yinqiu_tu6n9q.jpg"
      class="img-fluid"
      alt="Intro"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Hosted by Shanghai-based B and Kuangkuang 框框, Intro 音球 is a music
      podcast launched in mid-2021.
    </p>
    <p>
      The show covers many kinds of music genres from China and overseas, with a
      focus on alternative and underground scenes, and intros to bands, gigs and
      records.
    </p>
    <p>
      For an intro to part of the Cantonese music scene, try episode 22, "Niche
      Hong Kong Bands" 《香港小衆樂隊大賞》.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《尋尋覓覓奇奇怪怪可可愛愛的樂隊》</li>
      <li>《後朋克和TA的兄弟姐妹們》</li>
      <li>《打破音樂分類的天才們》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Intro -->
</div>
<!-- Left-Right -->
<div class="container" id="Left-Right">
  <div class="container-fluid col-md-8">
    <h2>Left - Right&nbsp;<span class="chinese-heading">忽左忽右</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682683845/xuanzang/voice/left-right_jrfmsa.png"
      class="img-fluid"
      alt="Left-Right"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Launched in 2018 as part of the
      <a href="https://justpodmedia.com/" target="_blank">JustPod</a> platform,
      Left-Right 忽左忽右 is a longform podcast on current affairs, social
      issues, history and geopolitics.
    </p>
    <p>
      Cheng Yanliang 程衍樑 hosts the series, with guests from a range of
      disciplines including academia, journalism, and the arts.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《從土耳其到波斯灣：中東石油版圖的重構》</li>
      <li>《中國女性忍受傻白甜形象已經太久了》</li>
      <li>《近代亞洲城際之爭》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Intro -->
</div>
<!-- Mei De Chen Si -->
<div class="container" id="Mei De Chen Si">
  <div class="container-fluid col-md-8">
    <h2>Mei De Chen Si&nbsp;<span class="chinese-heading">美的沉思</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/meidechensi_rb3qmu.jpg"
      class="img-fluid"
      alt="Mei De Chen Si"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      In Chiang Hsun's recent series
      <a
        href="https://open.firstory.me/user/cktxxrlw27ioo0898okcvd43b"
        target="_blank"
        >Mei De Chen Si</a
      >
      <nobr>美的沉思,</nobr> he explores the aesthetic values of different
      cultures, individuals, and festivals, in a mix of solo episodes and
      dialogues with his production team.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《談味覺》</li>
      <li>《談孤獨》</li>
      <li>《談貓》</li>
      <li>《談端午》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Mei De Chen Si -->
</div>
<!-- Midnight Talks -->
<div class="container" id="Midnight Talks">
  <div class="container-fluid col-md-8">
    <h2>Midnight Talks&nbsp;<span class="chinese-heading">大内密談</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/daneimitan_g6sdxk.jpg"
      class="img-fluid"
      alt="Midnight Talks"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      A long-running series with over 1,000 episodes, Midnight Talks
      <nobr>大内密談</nobr> is a light-hearted pop culture talk-show that
      launched in 2013.
    </p>
    <p>
      The show has several hosts on rotation, with regular guests from the music
      and entertainment industries. Their conversations cover all sorts of
      topics, and can be a good way to discover new bands and trending issues in
      mainland China.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《當爵士遇見搖滾》</li>
      <li>《朋克在古巴》</li>
      <li>《上帝是個程序員，而你是個蘑菇》</li>
      <li>《我們在富山釀清酒》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Midnight Talks -->
</div>
<!-- Salon des Refuses -->
<div class="container" id="Salon des Refuses">
  <div class="container-fluid col-md-8">
    <h2>
      Salon des Refuses&nbsp;<span class="chinese-heading">落選沙龍</span>
    </h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1683447672/xuanzang/voice/Salon-des-Refuses_jmmj8k.png"
      class="img-fluid"
      alt="Salon des Refuses"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Salon des Refuses 落選沙龍 is a
      <a href="https://justpodmedia.com/" target="_blank">JustPod</a> production
      launched in 2019, and hosted by Zhu Yujie 祝羽捷 and Ge Sang 格桑.
    </p>
    <p>
      The hosts and their guests discuss women's rights issues in society, and
      cover related topics such as pay and power imbalances, and the effects of
      gender inequality and prejudice on men and women.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《我做訃聞記者的日子》</li>
      <li>《開口談錢：你行嗎？》</li>
      <li>《奶爸苗煒：文學到頭來是對自我的安慰》</li>
      <li>《一貫懶惰的我爬起來做了個展覽》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Salon des Refuses -->
</div>
<!-- Stovol -->
<div class="container" id="Stovol">
  <div class="container-fluid col-md-8">
    <h2>
      Stochastic Volatility&nbsp;<span class="chinese-heading">隨機波動</span>
    </h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1684332037/xuanzang/voice/stovol_ebwu8z.webp"
      class="img-fluid"
      alt="Stovol"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      Stochastic Volatility 隨機波動 is a cultural commentary series, hosted by
      "three female media workers" Fu Shiye 傅適野, Zhang Zhiqi 張之琪, and Leng
      Jianguo 冷建國.
    </p>
    <p>
      Discussions include a mix of current affairs and social criticism, with
      weekly episodes that average from 40 to 90 minutes.
    </p>
    <p>
      For those who want to dig deeper into a given subject, the hosts cite
      films and books relevant to the issues and controversies they cover, and
      <a href="https://www.stovol.club" target="_blank">the show's website</a>
      features occasional articles that expand on themes from the podcast
      episodes.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《中國Metoo兩周年：“你沒辦法攔住下一個要站出來的人”》</li>
      <li>《作爲14億分之一理解中國：人與人口如何建立關聯？》</li>
      <li>《Netflix這麽好看，誰還要去電影院？》</li>
      <li>《性的湮滅》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Stovol -->
</div>
<!-- Talking Literature -->
<div class="container" id="Talking Literature">
  <div class="container-fluid col-md-8">
    <h2>Talking Literature&nbsp;<span class="chinese-heading">跳島FM</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682683844/xuanzang/voice/tiaodao_zy606i.png"
      class="img-fluid"
      alt="Talking Literature"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      <a href="https://tiaodao.typlog.io/" target="_blank"
        >Talking Literature</a
      >
      跳島FM is a weekly literature podcast launched in March 2020.
    </p>
    <p>
      Discussions dive into the works of different authors and genres, political
      and social themes reflected in writing, and technical areas such as the
      difficulties involved in translation.
    </p>
    <p>
      Zhong Na 鍾娜 and Xiao Li 小李 are the main hosts, though the series has
      an open format and shows are often led by other writers, critics and
      translators.
    </p>
    <p>
      The series has good coverage of modern Chinese literature, so is a great
      place to pick up reading recommendations or learn more about the context
      of literary movements and writers' works.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《台灣文學的“内向時代”：小説家應該直面現實還是凝視自我？》</li>
      <li>《張愛玲在美國：時代、故鄉和心靈的“流亡者”》</li>
      <li>《雙語寫作者：在語言的異鄉裏，帶著口音講故事》</li>
      <li>《“第二性”在第二故鄉：她們在紐約跨界寫作》</li>
    </ul>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Talking Literature -->
</div>
<!-- YiXi -->
<div class="container" id="YiXi">
  <div class="container-fluid col-md-8">
    <h2>YiXi&nbsp;<span class="chinese-heading">一席</span></h2>
  </div>
  <div class="container-fluid col-md-8" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1683205476/xuanzang/voice/yixi_ftsuox.jpg"
      class="img-fluid"
      alt="YiXi"
    />
  </div>
  <div class="container-fluid col-md-8">
    <p>
      A long-running platform launched in 2012 and modelled on the TED Talks
      format, each episode of YiXi <nobr>一席</nobr> has a different guest
      relate a story from the humanities or technology fields.
    </p>
    <p>
      Episodes are recorded with live audiences, and typically run to around 30
      minutes. Some talks rely on visual presentations, so would be better
      viewed than listened to; videos are available on the
      <a href="https://www.yixi.tv" target="_blank">YiXi website</a>.
    </p>
    <p>Sample episodes:</p>
    <ul class="index">
      <li>《馬伯庸：當古人遇到十二星座》</li>
      <li>《何健翔：看不見的城市》</li>
      <li>《姜斌：F廠日與夜》</li>
      <li>《陳淑慧：好事地圖》</li>
    </ul>
  </div>
  <!-- YiXi -->
</div>
<script src="/javascripts/toTopButton.js"></script>
