<% layout("layouts/boilerplate") %>
<div class="container">
  <!-- Introduction -->
  <h1>VOICE <span class="chinese-heading">嗓</span></h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Podcasts offer immediate access to native content on almost any subject
      imaginable, and a broader range of perspectives than offered via official
      media channels.
    </p>
    <p>
      The series listed here include several that share the personal stories and
      perspectives of ordinary people, or seek the views of specialists in
      various fields, making them good sources for insight into discussions
      across the Sinophone world.
    </p>
    <p>
      Others focus on pop culture scenes such as the art and music worlds, or
      delve into literature and philosophy.
    </p>
    <p>
      Beyond those listed below, simple search terms for your area of interest -
      such as 電影 or 新聞 - will likely return several options on any major
      podcast platform.
    </p>
    <p>
      See <a href="/about">SOURCES</a> for tips if you're having trouble
      tracking down these or other podcasts.
    </p>

    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Introduction -->
</div>
<!-- Pagelinks -->
<div class="container">
  <div class="container-fluid col-md-8 mt-3">
    <div class="row justify-content-evenly gap-3">
      <div class="col-md-auto" id="podcast-thumb">
        <a href="#Bu Mingbai"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336370/xuanzang/voice/bumingbai_dap0tt.jpg"
            class="img-fluid"
            alt=""
        /></a>
      </div>
      <div class="col-md-auto" id="podcast-thumb">
        <a href="#Xishuo"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/xishuohongloumeng_ak548m.jpg"
            class="img-fluid"
            alt="Xishuo Hong Lou Meng"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Dagong Tan"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/dagongtan_wem58n.jpg"
            class="img-fluid"
            alt="Dagong Tan"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Gushi FM"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336040/xuanzang/voice/gushifm_itsn1x.jpg"
            class="img-fluid"
            alt="Gushi FM"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Mei De Chen Si"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/meidechensi_rb3qmu.jpg"
            class="img-fluid"
            alt="Mei De Chen Si"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Midnight Talks"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/daneimitan_g6sdxk.jpg"
            class="img-fluid"
            alt="Midnight Talks"
        /></a>
      </div>
      <div id="podcast-thumb">
        <a class="col-md-auto" href="#Yishu Daodao"
          ><img
            src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516235/xuanzang/voice/yishudaodao_npctty.jpg"
            class="img-fluid"
            alt="Yishu Daodao"
        /></a>
      </div>
    </div>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Pagelinks -->
</div>
<!-- Back to top button -->
<button type="button" class="btn btn-light btn-floating" id="btn-back-to-top">
  <i class="fas fa-arrow-up-long"></i>
</button>
<!-- Bu Mingbai -->
<div class="container" id="Bu Mingbai">
  <div class="container-fluid col-md-8 text-center">
    <h3>Bu Mingbai 不明白</h3>
  </div>
  <div class="container-fluid col-md-8 text-center mt-4 mb-4" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336370/xuanzang/voice/bumingbai_dap0tt.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Begun in mid-2022,
      <a href="https://www.bumingbai.net/" target="_blank">Bu Mingbai</a>
      <nobr>不明白</nobr> is the personal project of a group of professional
      journalists, hosted by New York Times reporter Yuan Li <nobr>袁莉</nobr>.
    </p>
    <p>
      In the words of its creators, the Bu Mingbai podcast "hopes to share
      interesting conversations with a global Chinese-language audience, to
      shine a little light and warmth during this dark and chaotic era."
    </p>
    <p>
      Episodes last around an hour each, and have explored topics such as the
      "Those Little Upstarts: Why We Took to the Streets"
      《那些年輕的抗議者：我們爲什麽要上街》, "Sino-American AI Competition Seen
      Through ChatGPT" 《從ChatGPT看中美人工智能競爭》, "A Year of War in
      Ukraine, What Lessons for Taiwan?" 《俄烏戰爭一周年，台灣學到了什麽？》,
      and "Ancient China's Female Reformers" 《中國古代的女改革家》.
    </p>
    <p>
      Yuan Li also asks each guest for their book recommendations, making it a
      good source for reading suggestions.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Bu Mingbai -->
</div>
<!-- Xishuo -->
<div class="container" id="Xishuo">
  <div class="container-fluid col-md-8 text-center">
    <h3>Chiang Hsun on Dream of the Red Chamber <br />蔣勳細説紅樓夢</h3>
  </div>
  <div class="container-fluid col-md-8 text-center mt-4 mb-4" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/xishuohongloumeng_ak548m.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      With this 160-part series, Chiang Hsun <nobr>蔣勳</nobr> (intro
      <a href="/ink#Chiang%20Hsun">here</a>) provides a detailed guide through
      Dream of the Red Chamber <nobr>《紅樓夢》,</nobr> the classic Qing dynasty
      novel by Cao Xueqin <nobr>曹雪芹.</nobr>
    </p>
    <p>
      A former professor of fine arts at Taiwan's Tunghai University 東海大學,
      Chiang Hsun proceeds through the novel from cover to cover, offering rich
      explanations of the cultural and historical context of the narrative,
      bringing it to life in vivid detail. The result is comparable to the late
      Frank Delaney's analysis of James Joyce's Ulysses in his
      <a href="https://blog.frankdelaney.com/re-joyce/" target="_blank"
        >Re: Joyce podcast</a
      >, which sadly remains incomplete due to his passing in 2017.
    </p>
    <p>
      Chiang Hsun is an engaging speaker with deep knowledge of the subjects he
      covers here and elsewhere, and is enjoyable to listen to in his own right.
    </p>
    <p>
      Classical Chinese can be difficult to grasp even for native
      Chinese-language speakers today. This podcast offers a good alternative to
      reading the novel directly, and would be a useful companion for non-native
      speakers interested in taking it on.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Xishuo -->
</div>
<!-- Dagong Tan -->
<div class="container" id="Dagong Tan">
  <div class="container-fluid col-md-8 text-center">
    <h3>Dagong Tan 打工談</h3>
  </div>
  <div class="container-fluid col-md-8 text-center mt-4 mb-4" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/dagongtan_wem58n.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Launched in 2020, the hosts of Dagong Tan <nobr>打工談</nobr> ("Labour
      Talks") spend time with manual labourers and people from other
      working-class professions, to discuss how they make their living, their
      perspective on their position in society, and obtacles they face in their
      work and personal lives.
    </p>
    <p>
      Episodes include "I'm a Shenzhen Courier: 30,000 Steps, and
      Thousand-Dollar Fines" 《我在深圳送快遞：日行三萬步，罰款上千元》, "Seven
      Ways to Live: What Do You Mean, Work-Life Balance?"
      《七種生活：工作自由在哪裏？》, and "There's Nothing New About a Migrant
      Worker Reflecting on Labour" 《一個農民工思考勞工問題是再正常不過的事》.
    </p>
    <P
      >The hosts show genuine interest in getting to know their guests and
      portray their experiences with dignity, in defiance of the prevailing
      social mood towards the so-called "low-end population" 低端人口
      responsible for the PRC's prosperity.</P
    >
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Dagong Tan -->
</div>
<!-- Gushi FM -->
<div class="container" id="Gushi FM">
  <div class="container-fluid col-md-8 text-center">
    <h3>Gushi FM 故事FM</h3>
  </div>
  <div class="container-fluid col-md-8 text-center mt-4 mb-4" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336040/xuanzang/voice/gushifm_itsn1x.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Created by journalist Kou Aizhe <nobr>寇愛哲</nobr> in 2017,
      <a
        href="https://www.nytimes.com/2019/05/12/world/asia/china-podcast-gushi-fm.html"
        target="_blank"
        >Gushi FM</a
      >
      故事FM is a podcast series that relays personal narratives from ordinary
      people in their own words. With its 700th episode released in early 2023,
      it is an incredible resource that provides a platform for voices across
      the spectrum of human experience.
    </p>
    <p>
      Recorded as interviews, the podcast team's questions are largely edited
      out to leave an uninterrupted monologue told by each guest.
    </p>
    <p>
      Most episodes run from 20 to 40 minutes, and the titles below give a sense
      of the breadth of content: "What I Learnt Loan-Sharking"
      《我所知道的催債那些事兒》, "On Ageing, Death, and Dignity"
      《一個關於衰老、死亡、與生命尊嚴的故事》, "I'm a Drug Dealer's Daughter"
      《我是毒販的女兒》, and "Entrepreneurialism 101: Raising Pigs with
      Science" 《創業經：如何科學養豬》.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Gushi FM -->
</div>
<!-- Mei De Chen Si -->
<div class="container" id="Mei De Chen Si">
  <div class="container-fluid col-md-8 text-center">
    <h3>Mei De Chen Si 美的沉思</h3>
  </div>
  <div class="container-fluid col-md-8 text-center mt-4 mb-4" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/meidechensi_rb3qmu.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      In Chiang Hsun's recent series
      <a
        href="https://open.firstory.me/user/cktxxrlw27ioo0898okcvd43b"
        target="_blank"
        >Mei De Chen Si</a
      >
      <nobr>美的沉思,</nobr> he explores the aesthetic values of different
      cultures, individuals, and festivals, in a mix of solo episodes and
      dialogues with his production team.
    </p>
    <p>
      Episodes from the series include "On Taste" 《談味覺》, "On Loneliness"
      《談孤獨》, "On Felines" 《談貓》, and "On Dragon Boat Festival"
      《談端午》.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Mei De Chen Si -->
</div>
<!-- Midnight Talks -->
<div class="container" id="Midnight Talks">
  <div class="container-fluid col-md-8 text-center">
    <h3>Midnight Talks 大内密談</h3>
  </div>
  <div class="container-fluid col-md-8 text-center mt-4 mb-4" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336371/xuanzang/voice/daneimitan_g6sdxk.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      A long-running series with over 1,000 episodes, Midnight Talks
      <nobr>大内密談</nobr> is a light-hearted pop culture talk-show that
      launched in 2013.
    </p>
    <p>
      The show has several hosts on rotation, with regular guests from the music
      and entertainment industries. Their conversations cover all sorts of
      topics, and can be a good way to discover new bands and trending issues in
      mainland China.
    </p>
    <p>
      Episodes typically run between one to two hours, on themes such as "When
      Jazz Meets Rock" 《當爵士遇見搖滾》, "Punk in Cuba" 《朋克在古巴》, "God's
      a Coder, You're a Mushroom" 《上帝是個程序員，而你是個蘑菇》, and "We Brew
      Sake in Toyama" 《我們在富山釀清酒》.
    </p>
    <!-- Dividing line -->
    <hr class="hr my-4" />
  </div>
  <!-- Midnight Talks -->
</div>
<!-- Yishu Daodao -->
<div class="container" id="Yishu Daodao">
  <div class="container-fluid col-md-8 text-center">
    <h3>Yishu Daodao 藝術叨叨</h3>
  </div>
  <div class="container-fluid col-md-8 text-center mt-4 mb-4" id="podcast">
    <img
      src="https://res.cloudinary.com/duiqzld67/image/upload/v1682516235/xuanzang/voice/yishudaodao_npctty.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>
      Yishu Daodao <nobr>藝術叨叨</nobr> is the creation of Monie and Lanyi
      蘭奕, former students of museum and art gallery education at University
      College London.
    </p>
    <p>
      The hosts discuss contemporary art, and introduce exhibitions they visit
      over the course of the series. Other episodes focus on individual artists
      and feature interviews with people from art and museum circles.
    </p>
    <p>
      Episodes include "Francis Bacon: No Average Bacon"
      《弗朗西斯·培根：不是那個“培根”》, "Cai Guoqiang: Use Gunpowder the
      Romantic Way" 《蔡國强：以最浪漫的方式使用火藥》, and "Hong Kong Art Romp"
      《香港藝術速游》.
    </p>
  </div>
  <!-- Yishu Daodao -->
</div>
<script src="/javascripts/toTopButton.js"></script>
