<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#161817" media="(prefers-color-scheme: dark)" />
  <meta name="theme-color" content="#21212C" media="(prefers-color-scheme: light)" />
  <title>Sinophonia</title>
  <meta name="description" content="Introductions to Chinese-language writers and podcasts, and where to find them." />

  <!-- Fetch website logo from Cloudinary -->
  <link rel="icon"
    href="https://res.cloudinary.com/duiqzld67/image/upload/v1729405096/sinophonia/pin_wb_192_evkxri.png" />

  <!-- Below two rel="preconnect" <link> are defaults from Google Fonts -->
  <!-- First has been disabled because header execution is bound by TTFB -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- Below rel="preload" <link> makes high priority asynchronous fetch for CSS file -->
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Noto+Serif:wght@400;700&family=Oswald:wght@400;500;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&family=ZCOOL+QingKe+HuangYou&display=swap" />

  <!-- Below media="print" <link> makes low priority asynchronous fetch for CCS file -->
  <!-- for browsers that don't support rel="preload" of above <link> -->
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Noto+Serif:wght@400;700&family=Oswald:wght@400;500;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&family=ZCOOL+QingKe+HuangYou&display=swap"
    rel="stylesheet" media="print" onload="this.media='all'" />

  <!-- For minority of cases where user has disabled JavaScript, fallback to below method -->
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Noto+Serif:wght@400;700&family=Oswald:wght@400;500;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&family=ZCOOL+QingKe+HuangYou&display=swap" />
  </noscript>

  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/toTopButton.css" />

  <!-- Link to web app manifest -->
  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
</head>

<body>
  <%- include("../partials/navbar.html") %>
    <main>
      <%- body %>
    </main>

    <script src="/javascripts/navbarToggle.js"></script>
</body>

</html>