<h1>ABOUT&nbsp;<span class="chinese-heading">關於</span></h1>
<p>
    For new Chinese-language speakers seeking native materials to engage with,
    the volume of media available can make it difficult to find works that
    suit their interests and taste.
</p>
<p>
    This is exacerbated by the fact that original works that grapple with
    their creators' environment often fall foul of censors, or are deterred
    from being created in the first place.
</p>
<p>
    The effort to engage is worthwhile. There are a wealth of contemporary
    artists and thinkers who convey deep human and social insights with
    dignity, humour, and compassion.
</p>
<p>
    In the case of those whose form of self-expression is hazardous, their
    willingness to persist in spite of great personal risk makes their voices especially deserving
    of an audience.
</p>
<figure>
    <img src="https://res.cloudinary.com/duiqzld67/image/upload/v1682336854/xuanzang/Liu_Heung_Shing_-_Wang_Keping_io50at.webp"
        alt="Liu Heung Shing's 1979 photo, Wang Keping demands freedom for art" />
    <figcaption><span class="title-en">Wang Keping demands freedom for art</span><span
            class="title-zh">王克平遊行要藝術自由</span>·&nbsp;1979&nbsp;·&nbsp;Liu Heung Shing&nbsp;<span
            class="person-zh">劉香成</span>
    </figcaption>
</figure>