<h2 class="h2-bilingual" id="design">Design&nbsp;<span class="chinese-heading">設計</span></h2>
<h3 class="h3-subheading">Style</h3>
<p>
    I enjoy visiting sites that are thoughtfully designed to emphasise written content, with minimal distractions. I prefer dark themes for aesthetic reasons as well as the reduction in eye strain.
</p>
<p>
    Two sites in particular serve as inspiration for the design of this site.
</p>
<p>
    The first is <a href="https://chinaheritage.net/" class="external-url"><span class="title-en">China
            Heritage</span></a>. Aside from being an abundant source of excellent research and thought-pieces on
    socio-political matters relating to the Chinese-speaking world, it's also an example of tasteful design in a minimalist fashion for a site that
    combines English and Chinese text.
</p>
<p>
    The second is <a href="https://gwern.net/" class="external-url"><span class="title-en">Gwern.net</span></a>. This
    personal website features long-form writing on an ecclectic range of subjects that reflect the author's broad interests in machine-learning, human learning, programming, anime,
    and much else besides. It demonstrates intelligent design features that dramatically enhance the experience of
    reading online.
</p>
<h3 class="h3-subheading">Development</h3>
<p>
    In addition to the above-stated reasons regarding my decision to build this site, a core motivation is
    to further my studies in software development.
</p>
<p>
    The source code for this site is available <a href="https://github.com/essteer/sinophonia"
        class="external-url">on GitHub</a>. Since its launch in 2022, the site has gone through
    several iterations from embarrassing early drafts to the current form, involving at least one major restructure and
    redesign between September and October 2024.
</p>
<p>
    Both the code behind and the text displayed on this site will remain a work in progress. I'll continue to improve the site's performance and introduce new features to enhance the UX &mdash; <span class="italic-en">user experience</span> &mdash; while also refining the writing incrementally over time.
</p>
<h3 class="h3-subheading">Typography</h3>
<p>
    For Latin script this site makes use of Vernon Adams' <a href="https://fonts.google.com/specimen/Oswald"
        class="external-url"><span class="title-en">Oswald</span></a>
    for headings, and Frank Grießhammer's <a href="https://fonts.adobe.com/fonts/source-serif"
        class="external-url"><span class="title-en">Source Serif Pro</span></a> for body text.
</p>
<p>
    Chinese characters on this site are rendered in their traditional <nobr>繁體字</nobr> form, as <a
        href="https://en.wikipedia.org/wiki/Cangjie" class="external-url">Cangjie</a> <span class="person-zh">倉頡</span>
    intended. Headings make use of ZCOOL 站酷
    typographer Zheng Qingke's 鄭慶科 <a href="https://www.zcool.com.cn/work/ZMTg5MDEyMDQ=.html" class="external-url"><span
            class="title-en">ZCOOL QingKe HuangYou</span></a> <span class="title-zh">站酷慶科黃油</span>.
</p>
<p>
    <span class="title-en">ZCOOL QingKe HuangYou</span> is nominally a simplified <nobr>繁體字</nobr> font set, but it
    contains most
    traditional characters in common use. There is so far one instance on this site of a heading character for which I
    had to make do with the simplified equivalent. As painful as that decision was, it's a worthwhile price to use this
    striking font.
</p>