<h2 class="h2-bilingual" id="motivation">Motivation&nbsp;<span class="chinese-heading">動因</span></h2>
<p>
    Since I first began to learn Chinese, I set upon the goal of attaining a high level of literacy.
    This is a subjective standard which I define in these terms:
</p>
<ul>
    <li>to be able to read the same materials as educated native speakers,</li>
    <li>to do so with close to the ease I experience in my mother tongue, and</li>
    <li>to feel something akin to what a native speaker might feel when they read them.</li>
</ul>
<p>
    That last point sticks out a bit, so to elaborate: the <span class="italic-en">might</span> in <span
        class=quote>"might feel"</span> is key, since the experience of thought in an acquired language will differ to
    an extent to that of those who think in it as their primary language.
</p>
<p>
    Arguably this can also be said of our comprehension of those we share a language
    with. The best we can do is to use languages as a proxy for true
    understanding.
</p>
<p>
    And yet, it's not enough to me to understand what I read at an intellectual level. I want to feel and be stimulated
    by writing in this language in the same way as when I read my favourite writers in English.
</p>
<p>
    The catch is that for this to happen, the writing must also be good in the first place. As <a
        href="https://chinaheritage.net/journal/why-is-chinese-so-boring/" class="external-url">others
        have pointed out</a>, good writing is not often offered up to the newcomer &mdash; but it sure is out there.
</p>
<p>
    For new Chinese-language speakers seeking native materials to engage with,
    the volume of media available can make it difficult to find works that
    suit their interests and taste.
</p>
<p>
    This problem is exacerbated by the fact that the creative environment of the largest Chinese-speaking polity is
    so severely constrained. Original works that grapple with this reality often fall foul of censors, or are deterred
    from being created in the first place.
</p>
<figure>
    <img src="https://res.cloudinary.com/duiqzld67/image/upload/v1729393557/sinophonia/Liu_Heung_Shing_-_Wang_Keping_io50at_voxddk.webp"
        alt="Liu Heung Shing's 1979 photo, Wang Keping demands freedom for art" />
    <figcaption><span class="title-en"><a href="https://www.wangkeping.com/" class="external-url">Wang Keping</a>
            demands freedom for art</span><span class="title-zh">王克平遊行要藝術自由</span>·&nbsp;1979&nbsp;·&nbsp;<a
            href="https://en.wikipedia.org/wiki/Liu_Heung_Shing" class="external-url">Liu Heung Shing</a>&nbsp;<span
            class="person-zh">劉香成</span>
    </figcaption>
</figure>
<p>
    In the case of those whose form of self-expression is hazardous, their
    willingness to persist in spite of great personal risk makes their voices especially deserving
    of an audience.
</p>
<p>
    From the outset I've sought recommendations from friends and other native speakers, and relied on their tastes and
    cultural clairvoyance to filter out the noise. I'm ever grateful for their patience and the many excellent
    discoveries made thanks to them.
</p>
<p>
    Over time I've developed my own sense of how and where to seek out writing
    I'm interested in, which is something I tend to take for granted in my native
    language.
</p>
<p>
    The effort to engage is worthwhile. There are a wealth of contemporary
    artists and thinkers who convey deep human and social insights with
    dignity, humour, and compassion, only a fraction of which gains due recognition.
</p>
<p>
    This site is a live repository for notes on <a href="/about#sinophonia" class="internal-url"><span class="italic-en">sinophonia</span></a> that interests me in various
    forms, that I'd like to record and highlight.
</p>