<h2 class="h2-bilingual" id="sinophonia">Sinophonia&nbsp;<span class="chinese-heading">華品</span></h2>
<h3 class="h3-subheading">Definition</h3>
<p>
    I arrived at the term <span class="italic-en">sinophonia</span> 華品 to describe the focus of this site in a way that limits the awkward conflation of ethnicity, language, nationality and political designation that results when a single term is shared across such distinct concepts &mdash; in this case, <span class="italic-en">Chinese</span>.
</p>
<p>
    <span class="italic-en">Sinophone</span> 華語圈 is an existing term that denotes individuals and populations who speak, read or write any of the various languages and dialects that originate from China.
</p>
<p>
    In this vein, <span class="italic-en">sinophonia</span> refers to written or spoken materials that are produced by and for members of sinophone communities.
</p>
<p>
    <span class="italic-en">Cantonese</span> cinema, <span class="italic-en">Sichuanese</span> theatre, and <span class="italic-en">Hokkien</span> songs all meet this definition, as do adverts, articles, books, magazines, online discussions, propaganda slogans, radio and television in these or any other languages or dialects of Chinese.  
</p>
<h3 class="h3-subheading">Translation</h3>
<p>
    I translate <span class="italic-en">sinophonia</span> into Chinese as 華品.
</p>
<p>
    華 refers to concepts of Chinese civilisation 華夏, language 華語, people 華人 and the diaspora 華僑. 華 is often used interchangeably with 漢 &mdash; e.g. <span class="italic-en">sinophone</span> 華語圈 may be rendered as 漢語圈 &mdash; but is a more neutral term, inclusive of those who identify as Chinese but not as members of the Han 漢族 ethnic group. 
</p>
<p>
    品 as a noun <span class="italic-en">suffix</span> is associated with terms for creative works 作品 and artworks 藝品, or more generally with goods 物品, articles 用品 and products 產品 / 貨品. As a noun <span class="italic-en">prefix</span> it has connotations of quality 品質, style 品格, aesthetic taste 品味 and moral character 品性.
</p>
<p>
    Combining these two components forms a new compound word 華品 that closely reflects the definition of <span class="italic-en">sinophonia</span>.
</p>