<h2 class="h2-bilingual" id="sinophonia">Sinophonia&nbsp;<span class="chinese-heading">華品</span></h2>
<h3 class="h3-subheading">Definition</h3>
<p>
    I define <span class="italic-en">sinophonia</span> as <span class="italic-en">written or spoken materials created using one or more language or dialect of Chinese</span>.
</p>
<p>
    <a href="/" class="internal-url">https://sinophonia.com</a> is a website about a subset of <span class="italic-en">sinophonia</span> that interests me.
</p>
<h3 class="h3-subheading">Context</h3>
<p>
    Repeatedly clarifying what I mean by <span class="italic-en">Chinese</span> in a given context &mdash; <span class="italic-en">Mandarin</span>? <span class="italic-en">All</span> Chinese languages? Of the <span class="italic-en">nation</span>? Of the <span class="italic-en">state</span>? &mdash; tests my patience, as do efforts to mitigate this with long-winded terms such as <span class="italic-en">Chinese-language X</span>, or <span class="italic-en">Chinese-speaking Y</span>.
</p>
<p>
    I arrived at the collective term <span class="italic-en">sinophonia</span> as a concise way to describe <a href="/about#motivation" class="internal-url">the focus of this site</a> that limits the awkward conflation of ethnicity, language, nationality and political designation that results when a single term is shared across such distinct concepts.
</p>
<p>
    <span class="italic-en">Sinophone</span> 華語圈 is an existing term that denotes individuals and populations who speak, read or write any of the various languages and dialects that originate from China.
</p>
<p>
    In this vein, <span class="italic-en">sinophonia</span> refers to written or spoken materials that are produced using those same languages and dialects.
</p>
<p>
    <span class="italic-en">Cantonese</span> cinema, <span class="italic-en">Sichuanese</span> theatre, and <span class="italic-en">Hokkien</span> songs all meet this definition, as do adverts, articles, books, magazines, memes, online discussions, propaganda slogans, radio and television in these or any other languages or dialects of Chinese.  
</p>
<h3 class="h3-subheading">Translation</h3>
<p>
    I translate <span class="italic-en">sinophonia</span> into Chinese as <nobr>華品</nobr>.
</p>
<p>
    華 evokes multiple aspects of Chinese identity, appearing in terms such as <nobr>華夏</nobr> (Chinese civilisation), <nobr>華語</nobr> (Chinese language), <nobr>華人</nobr> (Chinese people) and <nobr>華僑</nobr> (Chinese diaspora).
</p>
<p>
    In some contexts 華 is used interchangeably with 漢 &mdash; <span class="italic-en">sinophone</span> <nobr>華語圈</nobr> may be rendered as <nobr>漢語圈</nobr>, for example. However, 華 is a broader term that encompasses those who identify with Chinese culture and civilisation, whereas 漢 is specific to the Han <nobr>漢族</nobr> ethnic group. 
</p>
<p>
    When used as a noun suffix, 品 is associated with terms for creative works <nobr>作品</nobr> and artworks 藝品, or more generally with goods 物品, articles <nobr>用品</nobr> and products <nobr>產品</nobr> / <nobr>貨品</nobr>. 
</p>
<p>
    In combination 華 and 品 form the compound word <nobr>華品</nobr>, with connotations that map to the definition of <span class="italic-en">sinophonia</span>.
</p>