<% layout("layouts/boilerplate") %>
<!-- 404 - Page Not Found -->
<div class="container">
  <h1>404</h1>
  <div class="container-fluid col-md-8 text-start mt-3">
    <p>此地無銀三百兩...</p>
    <p>The page you tried to reach does not exist.</p>
    <p>
      Click <a href="/">here</a> to return to the main page, or use the navbar
      links above.
    </p>
  </div>
  <!-- 404 - Page Not Found -->
</div>
