<% layout("layouts/boilerplate") %>
  <div class="container body-cols-medium-8">
    <h1>404</h1>
    <p>此地無銀三百兩...</p>
    <p>The page you tried to reach does not exist.</p>
    <p>
      Click <a href="/">here</a> to return to the main page, or use the navbar
      links above.
    </p>
  </div>